<template>
    <div class="app">
        <nav-bar />
        <md-progress md-indeterminate id="progress-bar" v-show="this.sending" class="md-warn md-theme-form" />

        <transition :name="transition">
            <keep-alive>
                <router-view id="router-content" :style="calculatedHeight"/>
            </keep-alive>
        </transition>
    </div>
</template>

<script>
import VueRouter from 'vue-router';
import NavBar from './components/NavBar.vue';

export default {
    name: 'app',
    data() {
        return {
            sending: false,
            transition: "",
        }
    },
    components: {
        NavBar,
    },
    created(){
        this.$bus.$on('sending', () => {
            this.sending = true;
        });
        this.$bus.$on('sendingEnd', () => {
            this.sending = false;
        });
    },
    watch: {
        '$route' (to, from){
            if (from.path === '/' || from.path === "/home")
                this.transition = 'fade';
            else if (to.path === '/private' && from.name === 'StreamerPage')
                this.transition = "bounce";
            else if (from.path === '/private' && to.name === 'StreamerPage')
                this.transition = "fade";
            else
                this.transition = "";
        }
    },
    computed: {
        calculatedHeight() {
            if (this.$route.name !== "Home")
                return "height: calc(100% - 64px)"
        }
    }
};
</script>

<style scoped>

    .app{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #progress-bar {
        position: fixed;
        top: 64px;
        z-index: 120;
    }

    #router-content{
        height: 100%;
    }
</style>


<style src="vue-material/dist/vue-material.css"></style>
<style src="./assets/css/cropper.min.css"></style>
<style src="./assets/css/myCSS.css"></style>
<style src="./assets/css/video-js.css"></style>
<style src="./assets/css/vuevideo.css"></style>

