<template>
    <div id="chat" :class="{'big': isBig, 'small': !isBig}">

        <md-toolbar class="md-dense" v-if="isBig">
            <md-avatar class="md-avatar-icon">
                <img :src="picture === null ? '/dist/dj1.jpg':picture">
            </md-avatar>
        </md-toolbar>

        <div class="chat-container">
            <div class="chatbox" ref="chatbox"></div>

            <div class="chatInput">

            <EmojiMenu ref="emojiMenu" @addEmot="addEmot"
                       @keydown.enter.prevent.stop='sendMessage' 
                       v-show="emojiMenuShown" />

                <div class="textarea-container" ref="textAreaContainer">

                    <div contenteditable="true" class="textarea"
                        placeholder="Envoyer un message..." ref="textArea"
                        @keydown.enter.prevent.stop='sendMessage'></div>

                    <md-button class="md-icon-button" @click="toggleMenu">
                        <md-icon>insert_emoticon</md-icon>
                    </md-button>
                </div>

                <div class="chat-button-container">
                    <md-button class="md-theme-default md-warn md-raised md-dense" @click='sendMessage'>
                        <md-icon>chat</md-icon>
                        Chat
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import EmojiMenu from "./EmojiMenu.vue"
    let EventBus = require('vertx3-eventbus-client/vertx-eventbus.js');

    export default {
        components: {EmojiMenu},
        props: ['picture', 'pseudo', 'isBig'],
        data() {
            return{
                eb: null,
                addr: "",
                color: ['#808080', '#FF0000', '#FFFF00', '#00FF00', '#008000', '#00FFFF', '#008080', '#0000FF',
                       '#000080	', '#FF00FF', '#800080', '#ffc100', '#ffa500', '#c05c33', '#26c4ff', '#FF82AB', 
                       '#EE1289', '#8A2BE2', '#B4EEB4'][Math.floor(Math.random() * 19)],
                emojiMenuShown: false

            }
        },

        methods: {
            sendMessage(){
                let msg = this.$refs.textArea.innerHTML
                if (msg !== ""){
                    this.eb.publish(this.addr, {pseudo: this.pseudo, color: this.color, msg: msg});
                    this.$refs.textArea.innerHTML = ""
                }
            },

            addMessage(body){
                let el = "<div class='chat-row'>" +
                            "<span style='color:" + body.color + "'>" +
                                    body.pseudo + ": " +
                                "</span>" +
                                // twemoji.parse(body.msg) +
                                body.msg +
                            "</div>";
                this.$refs.chatbox.innerHTML = el + this.$refs.chatbox.innerHTML;
            },
            
            initialize(id, name){
                this.addr = id + '_' + name;
                this.eb = new EventBus("https://" + document.location.host + '/auth/chat' );
                this.eb.onopen = () => {
                    // set a handler to receive a message
                    this.eb.registerHandler(this.addr, (error, message) => {
                        this.addMessage(message.body);
                    });
                }
            },

            toggleMenu(){
                this.emojiMenuShown = !this.emojiMenuShown;
                this.$refs.emojiMenu.$refs.boards.calculateOnResize(); // trigger function which calculate size of board when we display it
                this.$refs.textAreaContainer.classList.toggle("emojiMenuOpen")
            },

            addEmot(el){
                this.$refs.textArea.appendChild(el);
            },

        },

    }
</script>

<style>
    #chat.big{
        height: 100%;
        flex: 1;
        display: flex;
        display: -webkit-flex;
        overflow-y: auto;
        flex-direction: column;
        -webkit-box-shadow:inset 1px 0 2px 1px rgba(220,220,220,0.4);
        box-shadow:inset 1px 0 2px 1px rgba(220,220,220,0.4);
    }

    #chat.big .chat-container{
        display: flex;
        flex: 1;
        display: -webkit-flex;
        flex-direction: column;
    }

    #chat.small{
        width: 100vw;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .chat-row{
        width: 100%;
        word-wrap: break-word;
        vertical-align: baseline;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-inline-box;
        margin: 0 3%;
    }

    #chat .chat-button-container{
        display: flex;
        display: -webkit-flex; /* Safari */
        align-self: flex-end;
    }

    #chat .md-toolbar{
        background-color: gainsboro;
    }

    #chat .chatboxContainer{
        display: inline;
    }

    #chat .chatbox{
        z-index: 0;
        flex: 1;
        display: flex;
        display: -webkit-flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        overflow-x: hidden;
    }

    #chat .chatInput{
        background-color: #f5f5f5;
        width: 99%;
        z-index: 1;
        /* border-left: solid 1px #e64a19; */
        padding-top: 10px;
        align-self: flex-end;
        padding: 0 3%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }

    #chat .chatInput .textarea-container{
        display: flex;
        display: -webkit-flex;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: white;
    }

    #chat .chatInput .textarea-container.emojiMenuOpen{
        border-radius: 0 0 5px 5px
    }

    #chat .chatInput .textarea-container button {
        top: 0;
        right: 0;
    }

    #chat .chatInput .textarea{
        flex-grow: 1;
        height: 100%;
        padding-left: 5px;
        outline: none;
        font-size: 15px;
        font-family: Roboto,Noto Sans,Noto,sans-serif;
        overflow: auto;
        border: none;
        cursor: text;
        height: 40px;
    }

    [contenteditable=true]:empty:before {
        content: attr(placeholder);
        display: block; /* For Firefox */
        color: grey;
    }

    #chat .chatInput .md-layout{
        padding-right: 0;
    }

    #chat .chatInput .md-button{
        min-height: 25px;
        height: 25px;
        line-height: 25px;
        margin-right: 0;
    }

    #chat .chatInput i{
        font-size: 18px;
    }
</style>
