<template>
    <div class="concept">
        <div class="imageWrapper">
            <img src="/dist/organigramme_use_awa.svg"  style="z-index: 0; width: 100%"/>
        </div>
    </div>
</template>

<script>
    import img1 from '../assets/img/organigramme_use_awa.svg'

    export default {}
</script>

<style scoped>
    .concept{
        background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(207, 205, 205)), to(rgb(150, 150, 150)));
        background-image: -webkit-linear-gradient(top, rgb(221, 221, 221), rgb(150, 150, 150));
        background-image: -moz-linear-gradient(top, rgb(221, 221, 221), rgb(150, 150, 150));
        background-image: linear-gradient(to bottom, rgb(221, 221, 221), rgb(150, 150, 150));
        overflow: auto;
    }

    .imageWrapper{
        height: auto;
    }

    @media screen and (min-width: 640px) and (max-width: 1080px) {
        .concept {
            padding: 0 5%;
        }
    }

    @media screen and (min-width: 1080px) {
        .concept {
            padding: 0 15%;
        }
    }
</style>