<template>
    <md-dialog md-open-from="#contact-button" md-close-to="#contact-button" ref="dialog" id="contact">
        <md-dialog-title>Nous Contacter</md-dialog-title>

        <md-dialog-content>
            <ContactForm @close="$refs.dialog.close()" @send="onSend"></ContactForm>
        </md-dialog-content>

    </md-dialog>
</template>

<script>

import ContactForm from './ContactForm.vue'

export default {
    components: {ContactForm},

    methods: {
        openDialog(){
            this.$refs.dialog.open();
        },

        onSend(data){
            // send actual request to backend
            // and trigger progression bar on bus
            console.log("send", data)
            this.$refs.dialog.close()
        }
    }
}
</script>

<style>
    @media screen and (max-width: 640px) {
        #contact .md-dialog{
            width: 80vh;
        }
    }

    @media screen and (min-width: 640px) and (max-width: 1080px) {
        #contact .md-dialog{
            width: 70vh;
        }
    }

    @media screen and (min-width: 1080px) {
        #contact .md-dialog{
            width: 50vh;
        }
    }
</style>