<template>
    <div id="contactForm">
        <form novalidate @submit.stop.prevent="submit">
            <md-input-container>
                <label for="objet">Objet</label>
                <md-select name="objet" id="objet" v-model="objet">
                <md-option value="help">Besoin d'aide</md-option>
                <md-option value="bug">Reporter un bug</md-option>
                <md-option value="godfather_ii">Réclamation</md-option>
                <md-option value="godfather_iii">Autre</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Message</label>
                <md-textarea maxlength="300" v-model="msg" row="4"></md-textarea>
            </md-input-container>

            <md-layout mdAlign="end">
                <md-button class="sendButton md-warn" @click="$emit('close')">
                    <md-icon>cancel</md-icon>
                    Annuler
                </md-button>
                <md-button class="sendButton md-warn" @click="$emit('send', { 
                                                                                objet: objet,
                                                                                msg: msg
                                                                             })">
                    <md-icon>send</md-icon>
                    Envoyer
                </md-button>
            </md-layout>
        </form>
    </div>
</template>

<script>
export default {
    data(){
        return{
            objet: "",
            msg: ""
        }
    }
}
</script>

<style scoped>
    .sendButton{
        margin-right: 0;
    }

    #contactForm .md-menu-content{
        width: 60vh;
    }

</style>