<template>
    <md-theme name="default">
        <md-dialog ref="dialog" id="cropper" @close="cropper.destroy()">
            <md-dialog-content style="padding:0" >

                <md-toolbar class="md-primary md-dense">

                    <md-layout>

                        <md-button-toggle md-single class="md-warn">
                            <md-button class="md-icon-button md-toggle" @click="cropper.setDragMode('crop')">
                                <md-tooltip md-direction="top" mdDelay="500">Sélectionner la zone</md-tooltip>
                                <md-icon >crop</md-icon>
                            </md-button>

                            <md-button class="md-icon-button" @click="cropper.setDragMode('move')">
                                <md-tooltip md-direction="top" mdDelay="500">Déplacer l'image</md-tooltip>
                                <md-icon >open_with</md-icon>
                            </md-button>

                        </md-button-toggle>

                        <md-button @click="cropper.reset()" class="md-icon-button">
                            <md-tooltip md-direction="top" mdDelay="500">RaZ</md-tooltip>
                            <md-icon>autorenew</md-icon>
                        </md-button>

                        <md-button-toggle md-single class="md-primary">
                            <md-button @click="cropper.zoom(0.1)" class="md-icon-button">
                                <md-icon>zoom_in</md-icon>
                            </md-button>
                            <md-button @click="cropper.zoom(-0.1)" class="md-icon-button">
                                <md-icon>zoom_out</md-icon>
                            </md-button>
                        </md-button-toggle>

                        <md-button-toggle md-single class="md-primary">
                            <md-button @click="cropper.rotate(-45)" class="md-icon-button">
                                <md-icon>rotate_left</md-icon>
                            </md-button>
                            <md-button @click="cropper.rotate(45)" class="md-icon-button">
                                <md-icon>rotate_right</md-icon>
                            </md-button>
                        </md-button-toggle>

                    </md-layout>

                    <md-button @click="$refs.dialog.close()" class="md-icon-button" >
                        <md-icon style="color: #0288d1">close</md-icon>
                    </md-button>


                </md-toolbar>

                <div :class="{'round-cropper': type === 'avatar' }">
                    <img id="cropper_canvas" ref="cropper" src=""/>
                </div>
                <md-button class="md-fab md-fab-bottom-right md-accent" @click.native="sendImage">
                    <md-tooltip md-direction="top" mdDelay="200">Valider les changements</md-tooltip>
                    <md-icon>done</md-icon>
                </md-button>


            </md-dialog-content>

        </md-dialog>
    </md-theme>
</template>

<script>
    var Cropper = require('cropperjs');

    export default {

        props: ['type'],

        data(){
            return{
                cropper: Cropper,
                cropClass: "",
                editor: null,
                cursor: null,
            }
        },

        methods:{
            open(data){
                this.updatePicture(data);
                this.$refs.dialog.open();
            },
            openFromEditor(data, editor, cursor){
                this.editor = editor;
                this.cursor = cursor;
                this.updatePicture(data);
                this.$refs.dialog.open();
            },
            updatePicture(data) {
                this.$refs.cropper.src = data;

                switch (this.type) {
                    case 'avatar':
                        this.cropper = new Cropper(this.$refs.cropper, {
                            aspectRatio: 1
                        });
                        break;
                    case 'streamer':
                        this.cropper = new Cropper(this.$refs.cropper, {
                            aspectRatio: 4/3
                        });
                        break;
                    default:
                        this.cropper = new Cropper(this.$refs.cropper, {
                        });
                        break;
                }
            },
            sendImage() {
                if (this.editor === null) {
                    this.$emit('change', this.cropper.getCroppedCanvas().toDataURL());
                    this.$refs.dialog.close();
                } else {
                    this.editor.insertEmbed(this.cursor, 'image', this.cropper.getCroppedCanvas().toDataURL());
                    this.$refs.dialog.close();
                }
            },
        }
    }
</script>

<style>
    #cropper i{
        color: white;
    }

    #cropper .round-cropper .cropper-face,
    #cropper .round-cropper .cropper-view-box {
        border-radius: 50%;
    }
</style>