<template>
    <div>
        <h1>
            Dummy sandbox which will be replace by a real component later
            <video></video>
        </h1>
    </div>
</template>

<script>
export default {
    mounted(){
        navigator.getUserMedia = navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia;

    if (navigator.getUserMedia) {
    navigator.getUserMedia({ audio: true, video: { width: 1280, height: 720 } },
        function(stream) {
            var video = document.querySelector('video');
            video.src = window.URL.createObjectURL(stream);
            video.onloadedmetadata = function(e) {
            video.play();
            };
        },
        function(err) {
            console.log("The following error occurred: " + err.name);
        }
    );
    } else {
    console.log("getUserMedia not supported");
    }
    }
}
</script>