<template>
    <md-boards :md-infinite="true" :md-swipeable="true" class="emoji-menu" ref="boards">
        <md-board id="slide1" >
            <img draggable="false" class="emoji" alt="" src="https://twemoji.maxcdn.com/16x16/1f600.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😁" src="https://twemoji.maxcdn.com/16x16/1f601.png" @click="insertEmot($event)"> 
            <img draggable="false" class="emoji" alt="😂" src="https://twemoji.maxcdn.com/16x16/1f602.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😃" src="https://twemoji.maxcdn.com/16x16/1f603.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😄" src="https://twemoji.maxcdn.com/16x16/1f604.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😅" src="https://twemoji.maxcdn.com/16x16/1f605.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😆" src="https://twemoji.maxcdn.com/16x16/1f606.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😇" src="https://twemoji.maxcdn.com/16x16/1f607.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😈" src="https://twemoji.maxcdn.com/16x16/1f608.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😉" src="https://twemoji.maxcdn.com/16x16/1f609.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😊" src="https://twemoji.maxcdn.com/16x16/1f60a.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😋" src="https://twemoji.maxcdn.com/16x16/1f60b.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😌" src="https://twemoji.maxcdn.com/16x16/1f60c.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😍" src="https://twemoji.maxcdn.com/16x16/1f60d.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😎" src="https://twemoji.maxcdn.com/16x16/1f60e.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😏" src="https://twemoji.maxcdn.com/16x16/1f60f.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😐" src="https://twemoji.maxcdn.com/16x16/1f610.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😑" src="https://twemoji.maxcdn.com/16x16/1f611.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😒" src="https://twemoji.maxcdn.com/16x16/1f612.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😓" src="https://twemoji.maxcdn.com/16x16/1f613.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😔" src="https://twemoji.maxcdn.com/16x16/1f614.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😕" src="https://twemoji.maxcdn.com/16x16/1f615.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😖" src="https://twemoji.maxcdn.com/16x16/1f616.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😗" src="https://twemoji.maxcdn.com/16x16/1f617.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😘" src="https://twemoji.maxcdn.com/16x16/1f618.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😙" src="https://twemoji.maxcdn.com/16x16/1f619.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😚" src="https://twemoji.maxcdn.com/16x16/1f61a.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😛" src="https://twemoji.maxcdn.com/16x16/1f61b.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😜" src="https://twemoji.maxcdn.com/16x16/1f61c.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😝" src="https://twemoji.maxcdn.com/16x16/1f61d.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😞" src="https://twemoji.maxcdn.com/16x16/1f61e.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😟" src="https://twemoji.maxcdn.com/16x16/1f61f.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😠" src="https://twemoji.maxcdn.com/16x16/1f620.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😡" src="https://twemoji.maxcdn.com/16x16/1f621.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😢" src="https://twemoji.maxcdn.com/16x16/1f622.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😣" src="https://twemoji.maxcdn.com/16x16/1f623.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😤" src="https://twemoji.maxcdn.com/16x16/1f624.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😥" src="https://twemoji.maxcdn.com/16x16/1f625.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😦" src="https://twemoji.maxcdn.com/16x16/1f626.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😧" src="https://twemoji.maxcdn.com/16x16/1f627.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😨" src="https://twemoji.maxcdn.com/16x16/1f628.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😩" src="https://twemoji.maxcdn.com/16x16/1f629.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😪" src="https://twemoji.maxcdn.com/16x16/1f62a.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😫" src="https://twemoji.maxcdn.com/16x16/1f62b.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😬" src="https://twemoji.maxcdn.com/16x16/1f62c.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😭" src="https://twemoji.maxcdn.com/16x16/1f62d.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😮" src="https://twemoji.maxcdn.com/16x16/1f62e.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😯" src="https://twemoji.maxcdn.com/16x16/1f62f.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😰" src="https://twemoji.maxcdn.com/16x16/1f630.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😱" src="https://twemoji.maxcdn.com/16x16/1f631.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😲" src="https://twemoji.maxcdn.com/16x16/1f632.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😳" src="https://twemoji.maxcdn.com/16x16/1f633.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😴" src="https://twemoji.maxcdn.com/16x16/1f634.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😵" src="https://twemoji.maxcdn.com/16x16/1f635.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😶" src="https://twemoji.maxcdn.com/16x16/1f636.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😷" src="https://twemoji.maxcdn.com/16x16/1f637.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😸" src="https://twemoji.maxcdn.com/16x16/1f638.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😹" src="https://twemoji.maxcdn.com/16x16/1f639.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😺" src="https://twemoji.maxcdn.com/16x16/1f63a.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😻" src="https://twemoji.maxcdn.com/16x16/1f63b.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😼" src="https://twemoji.maxcdn.com/16x16/1f63c.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😽" src="https://twemoji.maxcdn.com/16x16/1f63d.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😾" src="https://twemoji.maxcdn.com/16x16/1f63e.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="😿" src="https://twemoji.maxcdn.com/16x16/1f63f.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🙀" src="https://twemoji.maxcdn.com/16x16/1f640.png" @click="insertEmot($event)">
        </md-board>

        <md-board id="slide2">
            <img draggable="false" class="emoji" alt="🎤" src="https://twemoji.maxcdn.com/16x16/1f3a4.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎥" src="https://twemoji.maxcdn.com/16x16/1f3a5.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎧" src="https://twemoji.maxcdn.com/16x16/1f3a7.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎵" src="https://twemoji.maxcdn.com/16x16/1f3b5.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎶" src="https://twemoji.maxcdn.com/16x16/1f3b6.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎷" src="https://twemoji.maxcdn.com/16x16/1f3b7.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎸" src="https://twemoji.maxcdn.com/16x16/1f3b8.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎹" src="https://twemoji.maxcdn.com/16x16/1f3b9.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎺" src="https://twemoji.maxcdn.com/16x16/1f3ba.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎻" src="https://twemoji.maxcdn.com/16x16/1f3bb.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🎼" src="https://twemoji.maxcdn.com/16x16/1f3bc.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="📯" src="https://twemoji.maxcdn.com/16x16/1f4ef.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🔈" src="https://twemoji.maxcdn.com/16x16/1f508.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🔉" src="https://twemoji.maxcdn.com/16x16/1f509.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🔊" src="https://twemoji.maxcdn.com/16x16/1f50a.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👆" src="https://twemoji.maxcdn.com/16x16/1f446.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👇" src="https://twemoji.maxcdn.com/16x16/1f447.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👈" src="https://twemoji.maxcdn.com/16x16/1f448.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👉" src="https://twemoji.maxcdn.com/16x16/1f449.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👊" src="https://twemoji.maxcdn.com/16x16/1f44a.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👋" src="https://twemoji.maxcdn.com/16x16/1f44b.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👌" src="https://twemoji.maxcdn.com/16x16/1f44c.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👍" src="https://twemoji.maxcdn.com/16x16/1f44d.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👎" src="https://twemoji.maxcdn.com/16x16/1f44e.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👏" src="https://twemoji.maxcdn.com/16x16/1f44f.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="👐" src="https://twemoji.maxcdn.com/16x16/1f450.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💪" src="https://twemoji.maxcdn.com/16x16/1f4aa.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="☝" src="https://twemoji.maxcdn.com/16x16/261d.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="☝" src="https://twemoji.maxcdn.com/16x16/261d.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="✊" src="https://twemoji.maxcdn.com/16x16/270a.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💤" src="https://twemoji.maxcdn.com/16x16/1f4a4.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="✋" src="https://twemoji.maxcdn.com/16x16/270b.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="🗿" src="https://twemoji.maxcdn.com/16x16/1f5ff.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💓" src="https://twemoji.maxcdn.com/16x16/1f493.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💔" src="https://twemoji.maxcdn.com/16x16/1f494.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💕" src="https://twemoji.maxcdn.com/16x16/1f495.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💖" src="https://twemoji.maxcdn.com/16x16/1f496.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💗" src="https://twemoji.maxcdn.com/16x16/1f497.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💘" src="https://twemoji.maxcdn.com/16x16/1f498.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💙" src="https://twemoji.maxcdn.com/16x16/1f499.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💜" src="https://twemoji.maxcdn.com/16x16/1f49c.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💝" src="https://twemoji.maxcdn.com/16x16/1f49d.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💞" src="https://twemoji.maxcdn.com/16x16/1f49e.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💰" src="https://twemoji.maxcdn.com/16x16/1f4b0.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💲" src="https://twemoji.maxcdn.com/16x16/1f4b2.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💳" src="https://twemoji.maxcdn.com/16x16/1f4b3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💶" src="https://twemoji.maxcdn.com/16x16/1f4b6.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="📱" src="https://twemoji.maxcdn.com/16x16/1f4f1.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="💩" src="https://twemoji.maxcdn.com/16x16/1f4a9.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="▶" src="https://twemoji.maxcdn.com/16x16/25b6.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="⏩" src="https://twemoji.maxcdn.com/16x16/23e9.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="⏪" src="https://twemoji.maxcdn.com/16x16/23ea.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="⏳" src="https://twemoji.maxcdn.com/16x16/23f3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="1⃣" src="https://twemoji.maxcdn.com/16x16/31-20e3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="2⃣" src="https://twemoji.maxcdn.com/16x16/32-20e3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="3⃣" src="https://twemoji.maxcdn.com/16x16/33-20e3.png" @click="insertEmot($event)">            <img draggable="false" class="emoji" alt="4⃣" src="https://twemoji.maxcdn.com/16x16/34-20e3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="5⃣" src="https://twemoji.maxcdn.com/16x16/35-20e3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="6⃣" src="https://twemoji.maxcdn.com/16x16/36-20e3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="7⃣" src="https://twemoji.maxcdn.com/16x16/37-20e3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="8⃣" src="https://twemoji.maxcdn.com/16x16/38-20e3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="9⃣" src="https://twemoji.maxcdn.com/16x16/39-20e3.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="⚠" src="https://twemoji.maxcdn.com/16x16/26a0.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="✔" src="https://twemoji.maxcdn.com/16x16/2714.png" @click="insertEmot($event)">
            <img draggable="false" class="emoji" alt="✖" src="https://twemoji.maxcdn.com/16x16/2716.png" @click="insertEmot($event)">
        </md-board>

    </md-boards>

</template>

<script>

    export default {

        methods: {
            insertEmot(event){
                this.$emit('addEmot', event.target.cloneNode())
            },
        },
    }
</script>

<style>
    .emoji-menu {
        /* background-color: rgb(43, 51, 63); */
        background-color: whitesmoke;
        border-radius: 5px 5px 0 0;
        border: 1px solid #ccc;
        z-index: 1;
        text-align: center
    }

    .emoji-menu .md-board {
        padding: 2px;
    }

    .emoji-menu .md-boards-navigation{
        height: 20px;
        min-height: 20px;
    }

    .emoji-menu img {
        cursor: pointer;
    }
</style>