<template>
    <div class="faq">

        <div class="toc">
            <!-- <div class="toc-title">FAQ</div> -->
            <div class="toc-content" ref="toc"></div>
        </div>

        <div class="content" id="content">
            <h1 ref="1">OBS Studio</h1>
            <h2 ref="1.1">Comment installer OBS Studio ?</h2>
            <p>
                Pour installer OBS Studio, commencez par télécharger le logiciel sur <a target="_blank" href="https://obsproject.com/download">https://obsproject.com/download</a>
            </p>
            <p>Installez OBS Studio en suivant les instructions de l'installeur.</p>
            
            <h2 ref="1.2">Comment gérer les scènes dans OBS ?</h2>
            
            <p>Pour streamer votre écran, webcam ou encore sortie audio sur AwA, vous aurez besoin de configurer des scènes dans OBS.</p>
            <p>Pour ce faire, nous vous conseillons vivement de suivre ce tutoriel vidéo pour les débutants.</p>
            
            <br/>
            <div class="tuto-video-obs-wrapper">
                <div class="tuto-video-obs">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lADfYL3bxvc?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <br/>
            
            <p>Vous pouvez également suivre le guide disponible sur le site d'OBS Studio : <a target="_blank" href="https://obsproject.com/wiki/OBS-Studio-Overview">https://obsproject.com/wiki/OBS-Studio-Overview</a></p>

            
            <h2 ref="1.3">Comment streamer sur AwA ?</h2>
            <p>
                Une fois installé, ouvrez OBS Studio et aller dans les paramètres.
            </p>
            <h3 ref="1.3.1">Paramètres de connexion streaming</h3>
	        <p>Première étape, pour pouvoir vous diffuser sur AwA, il vous faut commencer par devenir streamer AwA (Mon Compte -> onglet Devenir Streamer)</p>
	        <p>Une fois que vous avez un compte streamer vous aurez accès dans votre menu utilisateur à la fonctionnalité "Démarrer un live" qui vous permettra d'obtenir une clé de stream.
            Enfin pour streamer votre flux audio / vidéo vers les serveurs d'AwA, vous devez configurer la partie Flux d'OBS. </p>
            <ul>
                <li>Type de diffusion : Serveur de streaming personnalisé</li>
                <li>URL : rtmp://awa.ovh/live/</li>
                <li>Clé de stream : indiquez la clé fournie par AwA</li>
            </ul>
            <img src="../assets/img/tuto_connexion.png" height="900" width="900">

            <h3 ref="1.3.2">Paramètres d'encodage</h3>

            <ul>
                <li>Débit vidéo : 2500 kb/s</li>
                <li>Encodeur : x264</li>
                <li>Débit audio : 320 kb/s</li>
            </ul>
            <p>Si votre stream vidéo est saccadé, vous pouvez diminuer le débit vidéo. </p>
            <img src="../assets/img/tuto_encodage.png" height="900" width="900">

            <h3 ref="1.3.3">Paramètres audio</h3>
            <ul>
                <li>Fréquence d'échantillonnage : 44.1 kHz</li>
            </ul>

            <img src="../assets/img/tuto_audio.png" height="900" width="900">

            <h3 ref="1.3.4">Paramètres vidéo</h3>
            <p>Pour les paramètres vidéo, si vous n'avez pas un PC très puissant (sans carte graphique dédiée), il est préférable de réduire au maximum la résolution de base ainsi que la résolution de sortie.</p>
            <p>Pour commencer, vous pouvez essayer avec les paramètres suivants :</p>
            <ul>
                <li>Résolution de base : 1280x720</li>
                <li>Résolution de sortie : 1280x720</li>
                <li>FPS : 30 fps</li>
            </ul>

            <p>Si votre PC consomme trop de ressource (chauffe), essayez de diminuer la résolution de sortie.</p>

            <img src="../assets/img/tuto_video.png" height="900" width="900">

            <h2 ref="1.4">Comment démarrer un live sur AwA ?</h2>
            <p>Une fois tous les paramètres renseignés et vos scènes prêtes, vous pouvez commencer votre live.</p>
            <p>Pour se faire, il faut suffit simplement de cliquer sur le bouton "Commencer le streaming".</p>
            <p>Vous verrez alors votre stream apparaître sur la page des sessions partagés.</p>
            <img src="../assets/img/tuto-demarrer.png" height="900" width="900">

            <br>
            <br>
            <br>

        </div>
    </div>
</template>

<script>
    import img1 from '../assets/img/howtouse.svg'
    import img2 from '../assets/img/features.svg'

    export default {
        data(){
            return {
                posY: null,
                current: 1,
            }
        },

        methods:{
            getScroll(){
                if (this.posY === null){
                    this.updatePos();
                }

                let i;
                let scroll = document.getElementById('content').scrollTop;
                for (i = 1; i < this.posY.length; i++){
                    let tocEl = document.querySelector(".toc-content :nth-child(" + i + ")")

                    if (this.posY[i - 1] - 3 < scroll && this.posY[i] - 3 > scroll){
                        tocEl.classList = "toc-active"
                    } else {
                        tocEl.classList = ""
                    }
                
                }
            },

            clear(){
                this.$refs.toc.innerHTML = "";
                this.posY = [];
            },

            scrollTo(elem){
                if (this.posY === null){
                    this.updatePos();
                }
                document.getElementById('content').scroll({
                    top: elem.pos,
                    lef: 0,
                    behavior: 'smooth'
                });
            },

            updatePos(){
                this.posY = []
                let myPos = document.getElementById('content').scrollTop
                this.$refs.toc.childNodes.forEach((e) => {
                    let y = this.$refs[e.reference].getBoundingClientRect().y - 68;
                    e.pos = y + myPos
                    this.posY.push(y + myPos);
                })
                this.posY.push(100000);                
            },

            setToc(){
                // this.clear();
                let toc = [];
                for (var ref in this.$refs){
                    if (ref !== "toc"){
                        toc.push({
                            ref: ref,
                            node: this.$refs[ref].localName,
                            title: this.$refs[ref].innerHTML,
                        })
                    }
                };
                toc = toc.sort((a, b) => {return a.ref < b.ref ? -1 : 1});
    
                toc.forEach(e => {
                    let el = document.createElement(e.node);
                    el.reference = e.ref;
                    el.innerHTML = e.title;
                    this.$refs.toc.appendChild(el);
                    el.addEventListener('click', () => {this.scrollTo(el)}, true)
                });
            }
        },

        mounted(){
            this.setToc();                
            document.getElementById('content').addEventListener('scroll', this.getScroll, true)
        },

        beforeRouteEnter(to, from, next){
            next(vm => {
                window.addEventListener('resize', vm.updatePos, true)
            })
        },

        beforeRouteLeave (to, from, next) {
            window.removeEventListener('resize', this.updatePos)
            next()
        }

    }
</script>

<style>
    .faq{
        text-align: justify;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        line-height: 1.42857143;
        color: #333;
        display: flex;
        /* background-image: -webkit-gradient(linear, right, left, from(rgb(207, 205, 205)), to(rgb(150, 150, 150)));
        background-image: -webkit-linear-gradient(right, rgb(221, 221, 221), rgb(150, 150, 150));
        background-image: -moz-linear-gradient(right, rgb(221, 221, 221), rgb(150, 150, 150));
        background-image: linear-gradient(to left, rgb(221, 221, 221), rgb(150, 150, 150)); */
    }

    .faq .toc{
        width: 29vw;
        overflow: auto;
    }

    .faq .toc-title{
        text-align: center;
        font-size: 1em;
        font-weight: 600;
        color: rgb(233, 30, 99);
        /* border-bottom: solid 1px black; */
        padding: 8px 0;
        background-color: #80808069;
    }

    .faq .toc-content{
        padding-right: 5px;
        padding-left: 5%;
        text-align: left;
    }

    .faq .toc-content .toc-active{
        color: rgb(233, 30, 99);
        font-size: 1em;
    }

    .faq .toc h1,
    .faq .toc h2,
    .faq .toc h3{
        cursor: pointer;
        font-size: 0.8em;
        color: #0288d1;
    }

    .faq .toc h2{
        margin-left: 20px;
    }

    .faq .toc h3{
        margin-left: 40px;
    }

    .faq h1, .faq h2, .faq h3{
        color: #0288d1;
    }

    .faq .content{
        width: 70vw;
        flex: 1;
        overflow-y: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .faq .content h1{
        font-size: 24px;
        font-weight: 900;
        color: #387594
    }

    .faq .content h2{
        font-size: 20px;
        font-weight: 700;
        color: #0288d1;

    }

    .faq .content h3{
        font-size: 18px;
        font-weight: 700;
        color: grey;
    }

    .tuto-video-obs-wrapper {
        width: 600px;
        max-width: 100%;
    }

    .tuto-video-obs {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .tuto-video-obs iframe,
    .tuto-video-obs object,
    .tuto-video-obs embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

