<template>

        <md-menu :mdCloseOnSelect="false" class="filterMenu" md-align-trigger mdSize="4" >
            <md-button md-menu-trigger >
                Filtrer par prix
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>

            <md-menu-content class="filterMenu">
                <md-list-item @click.native="clearAllDispos()" class="md-button menu-button-close" >
                    <span>Tout effacer</span>
                    <md-icon>clear</md-icon>
                </md-list-item>

                <md-divider />
                <div class="filter-choice">
                    <md-list-item>
                        <md-button class="menu-button" @click.native.stop="toggle(1)">
                            <md-checkbox v-model="prices" class="md-primary" mdValue="1"
                                        ref="1" @click.native.stop="nothing">
                                Moins de 50€ de l'heure
                            </md-checkbox>
                        </md-button>
                    </md-list-item>

                    <md-list-item>
                        <md-button class="menu-button" @click.native.stop="toggle(2)">
                            <md-checkbox v-model="prices" class="md-primary" mdValue="2"
                                        ref="2" @click.native.stop="nothing">
                                de 50€ à 100€ de l'heure
                            </md-checkbox>
                        </md-button>
                    </md-list-item>

                    <md-list-item>
                        <md-button class="menu-button" @click.native.stop="toggle(3)">
                            <md-checkbox v-model="prices" class="md-primary" mdValue="3"
                                        ref="3" @click.native.stop="nothing">
                                de 100€ à 150€ de l'heure
                            </md-checkbox>
                        </md-button>
                    </md-list-item>

                    <md-list-item>
                        <md-button class="menu-button" @click.native.stop="toggle(4)">
                            <md-checkbox v-model="prices" class="md-primary" mdValue="4"
                                        ref="4" @click.native.stop="nothing">
                                de 150€ à 200€ de l'heure
                            </md-checkbox>
                        </md-button>
                    </md-list-item>

                    <md-list-item>
                        <md-button class="menu-button" @click.native.stop="toggle(5)">
                            <md-checkbox v-model="prices" class="md-primary" mdValue="5"
                                        ref="5" @click.native.stop="nothing">
                                plus de 200€ de l'heure
                            </md-checkbox>
                        </md-button>
                    </md-list-item>
                                                          
                </div>
            </md-menu-content>
        </md-menu>

    <!--</md-layout>-->
</template>

<script>

    export default {
        props: ['prices'],

        methods:{
            clearAllDispos(){
                this.prices = [];
                this.$emit('clear')
            },
            toggle(ref){
                this.$refs[ref].toggleCheck()
                console.log(this.prices)
            },
            nothing(){},
        },
        mounted(){
            this.from_account = this.$route.path === "/account"
        }
    }
</script>