<template>
    <md-menu md-size="4" :mdCloseOnSelect="false" class="filterMenu" md-align-trigger :mdMaxHeight="2" id="filterGenre">
        <md-button md-menu-trigger>
            {{ from_account ? "Sélectionnez vos styles" :"Filtrer par style" }}

            <md-icon>keyboard_arrow_down</md-icon>
        </md-button>

        <md-menu-content class="filterMenu" >
            <md-list-item @click="clearAll()" class="md-button menu-button-close" v-if="!from_account">
                    <span>Tout effacer</span>
                    <md-icon>clear</md-icon>
            </md-list-item>

            <md-divider />

            <md-list-item v-for="(tag, index) in this.$store.state.genres" v-bind:key="index">
                <md-button class="menu-button" @click.native.stop="toggle('g' + index)">
                    <md-checkbox v-model="tags" class="md-primary" :mdValue="tag" :ref="'g' + index" @click.native.stop="nothing">
                        {{tag}}
                    </md-checkbox>
                </md-button>
            </md-list-item>

        </md-menu-content>
    </md-menu>

</template>

<script>
    export default {
        props: ['tags'],

        methods:{
            clearAll(){
                this.tags = [];
                this.$emit('clear')
            },
            toggle(ref){
                this.$refs[ref][0].toggleCheck()
            },
            nothing(){},
        },
        computed:{
            from_account(){
                return this.$route.path === "/account"
            }
        }
    }
</script>

<style scoped>
    .filterMenu .menu-button-close{
        margin: 0;
        padding: 4px 16px;
        display: flex;
        display: -webkit-flex;
    }

    .filterMenu .filter-choice{
        display: flex;
        display: -webkit-flex;
        overflow-y: scroll;
        flex-direction: column;
    }

    .filterMenu .menu-button{
        width: 100%;
        margin: 0;
        padding: 0 8px;
    }

    .filterMenu .md-list{
        padding:0;
    }

    .filterMenu .md-list-item .md-list-item-container{
        padding: 0;
        min-height: 0;
    }

    .filterMenu .md-checkbox{
        margin: 8px 10px 0 10px;
    }

    .filterMenu .md-checkbox, .md-checkbox-label{
        width:100%;
        height: 100%;
        text-align:left;
    }
</style>

