<template>
    <md-dialog md-open-from="#gift-button" md-close-to="#gift-button" ref="dialog" id="gift">
        <md-dialog-title>Faire un don à {{streamer}}</md-dialog-title>

        <md-dialog-content>
            <md-theme md-name="form">
                <md-layout>
                    <md-input-container :class="{'md-input-invalid': !valid}">
                        <label>€</label>
                        <md-input v-model.number="value" name="value" type="number" ></md-input>
                        <span class="md-error" v-show="!this.valid">Montant invalide</span>
                    </md-input-container>
                </md-layout>
            </md-theme>
                
            <md-button class="sendButton md-warn" @click="$refs.dialog.close()">
                    <md-icon>cancel</md-icon>
                    Annuler
                </md-button>
                <md-button class="sendButton md-warn" @click="sendGift">
                    <md-icon>attach_money</md-icon>
                    Donner
            </md-button>

        </md-dialog-content>

    </md-dialog>
</template>

<script>

export default {
    components: {},

    props: ['streamer'],

    data() {
        return{
            value: 1,
            error_msg: "Montant Invalide",
            valid: true
        }
    },

    methods: {
        openDialog(){
            this.$refs.dialog.open();
        },

        sendGift(){
            if (/^\d+\.?\d{0,2}$/.test(this.value)){
                // send actual gift
                console.log("gift", this.value)
                this.valid = true
                this.$refs.dialog.close()
            }
            else  {
                this.valid = false
            }
        }
    }
}
</script>