<template>
    <!-- TODO: handle touch event to switch slide -->
    <div id="HomePage">
        <div class="homeSlideIndicator">
            <md-button @click="scrollTo(0)" class="md-icon-button">
                <md-icon v-bind:class="{ 'lens-active': currentSlide === 0 }">lens</md-icon>
            </md-button>
            <md-button @click="scrollTo(1)" class="md-icon-button">
                <md-icon v-bind:class="{ 'lens-active': currentSlide === 1 }">lens</md-icon>
            </md-button>
        </div>

        <div class="poster">
            <progressive-background src="/dist/background-homePage.jpg" />

            <div class="alert alert-info activation-done" v-if="$route.query.activationAlreadyDone === 'true'">
                <md-icon>info</md-icon>
                <span>Votre compte a déja été activé, vous pouvez maintenant vous connecter</span>
            </div>

            <div class="homeContainer">
                <div class="homePageTitle">Animer vos soirées n'a jamais été aussi simple.</div>
                <md-button @click.prevent="onOpenModal" class="raised-transparent">
                    <span>
                        <md-icon class="homePageVideoIcon">ondemand_video</md-icon>
                        Découvrez AwA en vidéo
                    </span>
                </md-button>

                <ModalVideo v-if="showModal" @close="onCloseModal" />
            </div>
        </div>

        <div class="poster" >
            <progressive-background src="/dist/background-home2.jpg" />
        </div>
    </div>
</template>

<script>
    import Concept from "./Concept.vue"
    import ModalVideo from "./ModalVideo.vue"
    import img1 from "../assets/img/background-homePage.jpg"
    import img2 from "../assets/img/background-home2.jpg"

    export default {
        data(){
            return {
                showModal: false,
                currentSlide: 0,
                slideNb: 2,
                time: 0,
                debug: ""
            }
        },

        components:{
            Concept,
            ModalVideo
        },
        methods: {
            onOpenModal(){
                this.showModal = true;
                document.body.classList.add("overflowHidden")
            },

            onCloseModal(){
                this.showModal = false;
                document.body.classList.remove("overflowHidden")
            },

            throttle(event){
                if ((this.time + 1000 - Date.now()) < 0 && !this.showModal && !this.$store.loginModalShown) {
                    if (event.deltaY > 0){
                        this.scrollTo(this.currentSlide + 1);
                    } else {
                        this.scrollTo(this.currentSlide - 1);
                    }
                    this.time = Date.now();
                } 
                // else {
                //     event.preventDefault();
                // }
            },

            onKeydown(e){
                if (e.keyCode === 38){ // arrow up
                    if (!this.showModal && !this.$store.loginModalShown)
                        this.scrollTo(this.currentSlide - 1);
                    e.preventDefault();
                } else if (e.keyCode === 40){ // arrow down
                    if (!this.showModal  && !this.$store.loginModalShown)
                        this.scrollTo(this.currentSlide + 1);
                    e.preventDefault();
                } else if (e.keyCode === 27 && this.showModal){ // escape
                    this.showModal = false; 
                    document.body.classList.remove("overflowHidden")                    
                }
            },

            onResize(){
                let posters = document.getElementsByClassName('poster');
                for (let i = 0; i < posters.length; i++){
                    posters[i].style.height = window.innerHeight + "px"
                }
            },

            scrollTo(i){
                if (i <= this.slideNb - 1 && i >= 0){
                    this.currentSlide = i;
                    window.scrollTo({
                        top: window.innerHeight * i,
                        left: 0,
                        behavior: 'smooth'
                    });
                } else if (i > this.slideNb -1){
                    window.scrollTo({
                        top: window.innerHeight * this.slideNb - 1,
                        left: 0,
                        behavior: 'smooth'
                    });
                } else if (i < 0){
                    window.scrollTo({
                        top: 0,
                        left: 0,
                        behavior: 'smooth'
                    });
                }
            },
        },

        beforeRouteEnter(to, from, next){
            next(vm => {
                vm.onResize();
                vm.currentSlide = Math.floor(window.scrollY / window.innerHeight);
                window.addEventListener("keydown", vm.onKeydown, false);
                window.addEventListener("wheel",vm.throttle, false);
                window.addEventListener("resize", vm.onResize, false);
            })
        },

        beforeRouteLeave (to, from, next) {
            document.body.classList.remove("overflowHidden")
            window.removeEventListener("keydown",this.onKeydown);
            window.removeEventListener("wheel", this.throttle);
            window.removeEventListener("resize", this.onResize);
            next();
        }
    };
</script>

<style scoped>
    .activation-done{
        margin:auto;
        top: 64px;
        z-index: 10;
        right: 5px;
        left: 5px;
    }

    .homeSlideIndicator{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        z-index: 2;
        position: fixed;
        right: 0;
        bottom: 50%;
        padding-right: 15px;
        color: rgba(196, 17, 92, 0.33)
    }

    .homeContainer{
        position: absolute;
        bottom: 10%;
        margin: 0 0 8% 12%;
        z-index: 5;
    }

    .homePageTitle {
        color: #ffffff;
        line-height: 1.2;
    }

    .homePageVideoIcon {
        margin-right: 5%;
    }

    .lens-active {
        color: #8a6d3b!important;
    }

    .raised-transparent{
        border: white solid 2px;
    }

    .raised-transparent span{
        font-weight: 600;
        color: white;
        margin: 4px 8px;
    }

    .raised-transparent i {
        color: #0288d1;
    }

    @media screen and (max-width: 640px) {
        .homeContainer{
            width: 65%;
        }
        .raised-transparent span{
            font-size: 1em;
        }
        .homePageTitle {
            font-size: 2.5em;
            font-weight: 500;
        }
    }

    @media screen and (min-width: 640px) and (max-width: 1080px) {
        .homeContainer{
            width: 50%;
        }
        .raised-transparent span{
            font-size: 1.1em;
        }

        .homePageTitle {
            font-size: 3em;
            font-weight: 600;
        }
    }

    @media screen and (min-width: 1080px) {
        .homeContainer{
            width: 45%;
        }
        .raised-transparent span{
            font-size: 1.2em;
        }

        .homePageTitle {
            font-size: 4em;
            font-weight: 600;
        }
    }

    .poster {
        height: 100vh;
        z-index: 0;
    }

</style>

