<template>
    <div class="imageLoader">
        <md-layout>
            <!-- if picture path is null we display an icon-->
            <span v-if="this.picture === null">
                <md-icon class="md-size-3x">add_a_photo</md-icon>
            </span>

            <!-- else we display the image -->
            <span v-else>
                <img :src="this.picture"/>
            </span>

            <md-layout :mdColumn="true" mdFlexXsmall="100">

                <label :for="'file' + type" class="md-button md-raised md-accent md-theme-form fileInput">
                    <md-icon>attach_file</md-icon>
                    Choisissez une image
                </label>
                <input :id="'file' + type" type="file" accept="image/png, image/jpeg, image/gif"
                          name="picture"  @change="loadImage" ref="fileInput" v-show="false"/>

                <md-subheader>
                    GIF, JPG ou PNG de {{size_limit}} Mo max. <br>
                    <slot></slot>
                </md-subheader>
            </md-layout>
        </md-layout>

        <Cropper ref="cropper" :type="type" @change="setImage" />

    </div>

</template>

<script>
    import Cropper from "./Cropper.vue"

    export default {
        components: {
            Cropper
        },
        props: ["size_limit", "picture", "type"],

        methods:{
            loadImage(){
                var url = window.URL || window.webkitURL;
                let reader  = new FileReader();
                reader.onload = (e) => {
                    if (this.$refs.fileInput.files[0].type === "image/gif"){
                        this.$emit('change', e.target.result)
                    } else {
                        this.$refs.cropper.open(e.target.result)
                    }
                };

                let img  = new Image();
                img.onload = () => {
                    if (this.$refs.fileInput.files[0].size > this.size_limit*1024*1024){ // we want size in Mo
                        this.$snack.show("L'image sélectionnée a une taille supérieure à " + this.size_limit + "Mo");
                    } else {
                        reader.readAsDataURL(this.$refs.fileInput.files[0]);
                    }
                };
                img.onerror = () => {
                    this.$snack.show('error', "Le fichier image que vous avez sélectionné semble être corrompu...");
                };

                if (this.$refs.fileInput.files[0])
                    img.src = url.createObjectURL(this.$refs.fileInput.files[0])
            },
            setImage(data){
                this.$emit('change', data);
            }
        },

        computed:{
            validation_rule(){
                return this.required ? "required":""
            }
        }

    }
</script>

<style>
    .fileInput{
        width: 200px;
    }

    .imageLoader img{
        width: 100px;
        border: 1px dotted;
    }

    /********************************************************************/
    /*************** Transitions, put other css above *******************/
    /********************************************************************/

    .fileInput i {
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
    }
    .fileInput:hover i{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
</style>