<template>
    <md-tabs class="md-transparent" mdElevation="true" ref="tabs" md-dynamic-height >
        <md-tab md-label="S'identifier" ref="loginTab" >
            <LoginForm @closeDialog="closeDialog" hideCancelButton="hideCancelButton" @sending="$emit('sending')" />
        </md-tab>

        <md-tab md-label="S'inscrire" ref="registerTab">
            <RegisterForm v-on:closeDialog="closeDialog" hideCancelButton="hideCancelButton" @sending="$emit('sending')" />
        </md-tab>
    </md-tabs>
</template>

<script>
    import LoginForm from './LoginForm.vue'
    import RegisterForm from './RegisterForm.vue'

    export default {

        data (){
            return {
                isLoginActive: false
            }
        },
        props: ['hideCancelButton', 'redirection'],
        components: {
            LoginForm,
            RegisterForm
        },
        methods:{
            /* use mdTab method to set activeTab.*/
            setActive(tab){
                this.$refs[tab].parentTabs.setActiveTab(this.$refs[tab].getTabData());
            },
            closeDialog(){
                this.$emit('closeDialog')
            }
        },
    }
</script>

<style scoped>
    .md-tab{
        max-height: 60vh;
        overflow-y: auto;
    }
</style>
