<template>
    <div id="loginComponent" >
            <progressive-background src="/dist/login-background2.jpg"  style="z-index: 0">

            <md-layout md-row mdAlign="center" mdFlex="100" class="RegisterLogin">
                <md-layout md-tag="md-card" md-column md-flex="40" md-flex-medium="60" md-flex-small="80" md-flex-xsmall="90">
                        <md-progress md-indeterminate v-show="isSending" class="md-warn md-theme-form" />

                        <md-card-header>
                            <h3 v-if="$route.params.redirection === 'home'">
                                {{
                                $route.query.reset ?
                                    "Votre mot de passe a bien été réinitialisé.":
                                    "Votre compte a bien été activé, bienvenue dans la communauté AwA."
                                }}
                                Vous pouvez maintenant vous connecter.
                            </h3>
                            <h3 v-else>Vous devez être connecté pour accéder à cette partie d'AwA</h3>
                        </md-card-header>

                        <md-card-content>
                            <LoginRegisterTab hideCancelButton="true" @sending="isSending=!isSending" />
                        </md-card-content>
                </md-layout>
            </md-layout>
        </progressive-background>
    </div>
</template>

<script>
    import LoginForm from './LoginForm.vue'
    import LoginRegisterTab from './LoginRegisterTab.vue'
    import img from '../assets/img/login-background2.jpg'

    export default {
        components: {
            LoginRegisterTab
        },
        data(){
            return{
                isSending: false
            }
        },
    }
</script>

<style scoped>
    .RegisterLogin .md-dialog{
        max-height: 90vh;
        max-width: 90vh;
    }

    .RegisterLogin{
        padding-top: 5%;
    }

    .RegisterLogin .md-card-content, .md-tab{
        padding: 0;
    }


</style>

<style>
    .RegisterLogin .md-tabs-navigation{
        padding: 0 16px;
    }
</style>