<template>
    <div id="loginRegisterModal">
        <!-- *** Dialog *** -->
        <md-dialog md-close-to="#connectButton" md-open-from="#connectButton"
                   ref="registerLoginDialog" md-click-outside-to-close class="RegisterLogin"
                   @close="onClose" @open="onOpen">

            <md-toolbar class="md-dense">
                <md-layout mdAlign="end">
                    <md-button class="md-icon-button" @click="closeDialog">
                        <md-icon>
                            close
                        </md-icon>
                    </md-button>
                </md-layout>
            </md-toolbar>
            <md-progress md-indeterminate class="md-warn md-theme-form" v-show="isSending" />

            <!-- Media callback to get window size-->
            <media :query="{maxWidth: 600}" />

            <md-dialog-content v-bind:style="{width: widthIfGreaterThan600 + 'px'}" id="loginRegisterDialogContent">
                <LoginRegisterTab ref="tabs" v-on:closeDialog="closeDialog()" @sending="isSending=!isSending" hideCancel="false" />
            </md-dialog-content>
        </md-dialog>

        <md-layout>
            <md-button class="md-raised md-warn md-dense" id="connectButton"
                       @click="openDialog('registerLoginDialog', 'loginTab')">
                Se connecter
            </md-button>
        </md-layout>
    </div>
</template>

<script>
    import LoginRegisterTab from './LoginRegisterTab.vue'
    import Media from 'vue-media'
    import UserMenu from './UserMenu.vue'

    export default {
        data() {
            return {
                widthIfGreaterThan600: (window.innerWidth > 600 ? "450" : 0.8 * window.innerWidth),
                isSending: false
            }
        },
        components: {
            Media,
            LoginRegisterTab,
            UserMenu
        },
        methods: {
            openDialog(ref, tab) {
                this.$store.loginModalShown = true;
                this.$refs['tabs'].setActive(tab);
                this.$refs[ref].open()
            },
            closeDialog() {
                this.$refs['registerLoginDialog'].close()
            },
            onOpen(){
                document.body.classList.add("overflowHidden")
            },
            onClose(){
                this.$store.loginModalShown = false;
                document.body.classList.remove("overflowHidden")
            }
        },
    };
</script>

<style scoped>
    .RegisterLogin .md-dialog{
        max-height: 90vh;
        max-width: 90vw;
    }

    .RegisterLogin{
        padding-top: 5%;
    }

    .RegisterLogin .md-dialog-content{
        padding: 0;
    }

    .RegisterLogin .md-tabs-navigation{
        padding: 10px;
    }

</style>
