<template>
    <md-theme mdName="form">
            <md-layout md-tag="form" novalidate id="loginForm">
                <span id="login_error_msg_anchor"></span>

                <transition name="fade">
                    <md-layout class="alert alert-warning" v-if="error_message">
                        <span>
                            <md-icon>warning</md-icon>
                            {{ error_message }}
                        </span>
                    </md-layout>
                </transition>

                <md-input-container :class="{'md-input-invalid': username && password }">
                    <md-icon>perm_identity</md-icon>
                    <label>Nom d'utilisateur/E-mail</label>
                    <md-input type="text" name="username" v-model="username" @keyup.enter.native="submit" ref="username">
                    </md-input>
                </md-input-container>

                <md-input-container md-has-password style="margin-bottom:10px;" :class="{'md-input-invalid': username && password}">
                    <md-icon>fingerprint</md-icon>
                    <label>Mot de passe</label>
                    <md-input type="password" name="password" v-model="password" @keyup.enter.native="submit" />
                </md-input-container>

                <md-layout mdFlex="100">
                    <router-link to="/retrieve_password" style="font-size: 0.8em;" v-on:click.native="emitCloseDialog('registerLoginDialog')"
                                 @focus.native="$refs.username.$el.focus()">
                        Mot de passe ou identifiant oublié ?
                    </router-link>
                </md-layout>

                <md-layout mdAlign="end">
                    <md-button class="md-primary" @click="emitCloseDialog('registerLoginDialog')" v-if="!this.hideCancelButton">
                        Annuler
                    </md-button>

                    <md-button class="md-primary" @click="submit()">Ok</md-button>
                </md-layout>
            </md-layout>
    </md-theme>
</template>

<script>

    var jwtDecode = require('jwt-decode');

    export default {
        data(){
            return{
                username: "",
                password: "",
                error_message: "",
                mail_regex: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            }

        },
        props: ['hideCancelButton'],
        methods: {
            emitCloseDialog(){
                this.$emit("closeDialog")
            },
            submit(){
                if (this.username && this.password ) {
                    this.$emit("sending");
                    this.$http.post('/login',
                        {
                            username: this.username,
                            password: this.password,
                            // test value of username to determine if user authenticate by email or username
                            method: (this.mail_regex.test(this.username) ? "mail" : "username")
                        }
                    )
                    .then(
                        // on response from server
                        (response) => {
                            // stop progression bar
                            this.$emit('sending');

                            // make error message disapear
                            this.error_message = "";

                            // store token in local storage
                            this.$session.set('authorization', 'Bearer ' + response.data);

                            // store token's informations into $store
                            this.$store.commit('log_in', jwtDecode(response.data));

                            // close dialog
                            this.emitCloseDialog();

                            // trigger redirection according to url
                            if (this.$route.params.redirection) {
                                if (this.$route.params.id === '0') {
                                    this.$router.push("/" + this.$route.params.redirection);
                                } else {
                                    this.$router.push("/" + this.$route.params.redirection + "/" + this.$route.params.id);
                                }
                            }
                            else {
                                this.$router.push(this.$route.path)
                            }
                        },
                        // on error
                        (error) => {
                            this.error_message = error.response.data;
                            this.$emit('sending')
                        }
                    );
                }
            },
        },

    }
</script>