<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <md-toolbar class="md-dense md-transparent">
                        <md-layout mdAlign="end">
                            <md-button class="md-warn" @click="$emit('close')">
                                Fermer
                                <md-icon>close</md-icon>
                            </md-button>
                        </md-layout>
                    </md-toolbar>

                    <div class="modal-body">
                        <iframe
                                src="https://www.youtube.com/embed/OEOcJef_h1A"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

    export default {
        methods: {
            // escape(e){
            //     window.removeEventListener('keydown', this.escape, true);
            //     if (e.key === "Escape" || e.key === "Esc")
            //         this.$emit('close')
            // }
            onclick(){
                if (!event.target.matches('.modal-container')) {
                    this.$emit('close')
                }
            },
        },
        mounted(){
            document.querySelector('.modal-mask').addEventListener("click", this.onclick, false);
            // window.addEventListener('keydown', this.escape, true)
        },
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 70vw;
        max-width: 100%;
        margin: 0px auto;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-body{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        background-color: #323232;
        background-image: url('../assets/img/Flickr.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 0;
        overflow: hidden;
    }

    .modal-body iframe,
    .modal-body object,
    .modal-body embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>