<template>
    <div >
        <md-toolbar :class="navClass">
            <div class="has-ripple">
                <md-ink-ripple />
                <router-link to="/">
                    <img src="../assets/img/logo-white.png" style="width: 50px;">
                </router-link>
            </div>

            <md-layout :mdHideXsmall="true" v-if="username">
                <md-button class="md-dense" style="color:white" href="/#/private">Sessions privées</md-button>

                <md-button class="md-dense" style="color:white" href="/#/shared">Sessions partagées</md-button>
            </md-layout>

            <md-layout v-else>
                <!-- To force button right when nothing else in navbar-->
            </md-layout>

            <md-layout :mdHideSmallAndUp="true">
                <!-- To force button right when nothing else in navbar-->
            </md-layout>

            <md-layout mdAlign="end" :mdHideSmall="true">
                    <md-button class="md-dense" style="color:white" href="/#/faq">FAQ</md-button>
                    <md-button class="md-dense" style="color:white" href="/#/concept">Le concept</md-button>
                    <md-button class="md-dense" style="color:white" @click="$refs.contact.openDialog()">Nous contacter</md-button>
            </md-layout>

            <user-menu v-if="username" />
            <login-register-modal v-else/>
            <Contact ref="contact" />

            <md-layout md-tag="md-button" mdFlex="5" :mdHideMediumAndUp="true" class="md-icon-button" style="color:white"
                       @click.native="$refs.sidemenu.toggleSideNav()">
                <md-icon>menu</md-icon>
            </md-layout>

        </md-toolbar>

        <nav-side-menu ref="sidemenu" id="sidenav" />
    </div>
</template>

<script type = "text/javascript" >
    import LoginRegisterModal from './LoginRegisterModal.vue'
    import NavSideMenu from './NavSideMenu.vue'
    import Contact from './Contact.vue'
    import UserMenu from "./UserMenu.vue";

    export default {
        components: {
            UserMenu,
            LoginRegisterModal,
            NavSideMenu,
            Contact
        },

        computed:{
            navClass(){
                let classes="";

                if (this.$store.state.user.username) {
                    classes='navTheme';
                } else if (this.$route.path === '/' || this.$route.path === '/home') {
                    classes='md-transparent';
                } else {
                    classes='md-primary';
                }

                if (this.$route.path === '/' || this.$route.path === '/home'){
                    classes+=" navbar-fixed"
                }

                return classes;
            },

            username(){
                return this.$store.state.user.username
            }
        }
    }
</script>

<style scoped>
    .navbar-fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%  !important;
    }

    .navTheme {
        background-color: #0d47a1;
        -webkit-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }
</style>