<template>
    <div @click="emitClose()" >
        <md-subheader v-if="this.linkConfig.subheader">{{ linkConfig.subheader }} </md-subheader>

        <md-list-item :href="this.linkConfig.link" class="container-flex" v-if="this.linkConfig.a_link">
            <md-icon>{{ linkConfig.icon }}</md-icon>
            <span>{{ linkConfig.label }}</span>
        </md-list-item>

        <md-list-item class="container-flex" v-else>
            <router-link :to="linkConfig.link">
                <md-icon>{{ linkConfig.icon }}</md-icon>
                <span>{{ linkConfig.label }}</span>
            </router-link>
        </md-list-item>

        <md-divider v-if="linkConfig.separator" class="md-inset"></md-divider>
    </div>
</template>

<script>

    export default {
        props: ['linkConfig'],
        methods:{
            emitClose(){
                this.$emit("closeSidenav");
            }
        }
    };
</script>