<template>
    <md-sidenav class="md-left" ref="Sidenav" :mdSwipeable="true" :mdSwipeDistance="10" @close="onclose" @open="onopen">
        <md-toolbar class="md-large">
            <h1 class="md-title">Parcourir AwA</h1>
        </md-toolbar>

        <div class="md-toolbar-container">
            <md-list>
                <NavSideMenuLink v-for="l in links"
                                        :key="l.id"
                                        v-bind:linkConfig="l"
                                        @closeSidenav="closeSideNav()">
                </NavSideMenuLink>

                <md-list-item class="container-flex" @click="openContact">
                    <md-icon>contact_mail</md-icon>
                    <span>Nous contacter</span>
                </md-list-item>
            </md-list>
        </div>
    </md-sidenav>
</template>

<script>

    import NavSideMenuLink from './NavSideMenuLink.vue'

    export default {
        components: {
            NavSideMenuLink
        },
        methods:{
            onopen(){
                document.getElementById("router-content").classList += "overflowHidden"
            },
            onclose(){
                document.getElementById("router-content").classList = "";
            },
            toggleSideNav() {
                this.$refs.Sidenav.toggle();
            },
            closeSideNav() {
                this.$refs.Sidenav.close();
            },
            openContact(){
                this.toggleSideNav()
                this.$bus.$emit("contact")
            }
        },
        data(){
            return{
                links: [
                    {
                        label: "Accueil",
                        link: "/",
                        icon: "home",
                        subheader: "Pages"
                    },
                    {
                        label: "Sessions privées",
                        link: "/private",
                        icon: "important_devices"
                    },
                    {
                        label: "Sessions partagées",
                        link: "/shared",
                        icon: "group_add",
                        separator: true
                    },
                    {
                        label: "FAQ",
                        link: "/faq",
                        icon: "question_answer",
                        subheader: "Informations"
                    },
                    {
                        label: "Le concept",
                        link: "/concept",
                        icon: "info",
                    }
                ]
            }
        }
    };
</script>

<style scoped>
    .md-sidenav .md-sidenav-content, .md-sidenav .md-sidenav-backdrop {
        position: fixed;
    }
</style>