<template>
    <div>
        <progressive-background src="/dist/password-background.jpg"  style="z-index: 0" >

            <md-layout md-row mdAlign="center" mdFlex="100" class="passwordRetriever">
                <md-layout md-tag="md-card" md-column md-flex="40" md-flex-medium="60" md-flex-small="80" md-flex-xsmall="90">
                    <md-progress md-indeterminate v-show="isSending" class="md-warn md-theme-form" />

                    <md-card-header>
                        <h2>Réinitialisation du mot de passe</h2>

                        <md-subheader style="padding:0;" v-if="$route.query.username">
                            Vous pouvez maintenant réinitialiser votre mot de passe.
                        </md-subheader>

                        <md-subheader style="padding: 0;" v-else>
                            Pour réinitialiser votre mot de passe veuillez, saisir votre identifiant.
                        </md-subheader>
                    </md-card-header>

                    <md-theme mdTag="md-card-content" mdName="form">

                        <!-- when error display message on alert-warning -->
                        <transition name="fade">
                            <md-layout class="alert alert-warning" v-if="message && error">
                                <span>
                                    <md-icon v-show="error">warning</md-icon>
                                    {{ this.message }}
                                </span>
                            </md-layout>
                        </transition>

                        <!-- when message display message on alert-success -->
                        <md-layout class="alert alert-success" v-if="message && !error">
                            <span>
                                <md-icon >check_circle</md-icon>
                                {{ this.message }}
                            </span>
                        </md-layout>
                        <br>

                        <!-- if query param in url, the user has already sent a retrieve request -->
                        <md-input-container v-if="$route.query.username" md-has-password :class="{'md-input-invalid': errors.has('password') }">
                            <md-icon>fingerprint</md-icon>
                            <label>Nouveau mot de passe</label>
                            <md-input type="password" name="password" v-model="password" v-validate="{required: true, min:8}"
                                      v-on:keyup.enter.native="submit_change" >
                            </md-input>
                            <span class="md-error">{{ errors.first('password') }}</span>
                        </md-input-container>
                        <!-- else the user whant to retrieve his password -->
                        <md-input-container v-else>
                            <md-icon>perm_identity</md-icon>
                            <label>Nom d'utilisateur ou E-mail</label>
                            <md-input type="text" name="username" v-model="username" v-on:keyup.enter.native="submit_retrieve">
                            </md-input>
                        </md-input-container>
                        <!-- if query param in url, the user has already sent a retrieve request -->
                        <md-layout mdAlign="end" v-if="$route.query.username">
                            <md-button class="md-primary" @click="submit_change()">Ok</md-button>
                        </md-layout>
                        <!-- else the user whant to retrieve his password -->
                        <md-layout mdAlign="end" v-else>
                            <md-button class="md-primary" @click="submit_retrieve()">Ok</md-button>
                        </md-layout>
                    </md-theme>
                </md-layout>
            </md-layout>
        </progressive-background>
    </div>
</template>

<script>
    import img from '../assets/img/password-background.jpg'

    export default {
        data() {
            return {
                username: "",
                password: "",
                message: "",
                isSending: false,
                error: false,
                mail_regex: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            }
        },
        methods:{
            submit_retrieve() {
                if (this.username) {
                    this.isSending = !this.isSending;
                    this.$http.post("/retrieve_password", this.mail_regex.test(this.username) ? {mail: this.username}
                                                                                              : {username: this.username}
                    ).then(
                        (response) => {
                            this.isSending = !this.isSending;
                            this.error = false;
                            this.message = "Un email avec la procédure de réinitialisation " +
                                           "de votre mot de passe vient de vous être envoyé.";
                        },

                        (error) => {
                            this.isSending = !this.isSending;
                            this.error = true;
                            this.message = error.response.data;
                        })

                } else {
                    this.error = true;
                    this.message = "Vous devez saisir un identifiant.";
                }
            },

            submit_change(){
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.isSending = !this.isSending;

                        this.$http.post("/reset_password",
                            {
                            username: this.$route.query.username,
                            activationKey: this.$route.query.activationKey,
                            password: this.password
                            }
                        ).then(
                            (response) => {
                                this.isSending = !this.isSending;

                                this.error = false;
                                this.$router.push("/login/home/0?reset=true");
                            },

                            (error) => {
                                this.isSending = !this.isSending;
                                this.error = true;
                                this.message = error.response.data;
                            }
                        )
                    }
                });
            }

        },

        beforeRouteEnter ( to, from, next ) {
            // Pass a callback to next (optional)
            next(vm => {
                vm.message = "";
                next()
            })
        },

    }
</script>

<style scoped>
    .passwordRetriever{
        padding-top: 5%;
    }
</style>