<!--TODO: Fix switch quality on safari-->
<template>
    <div class="video-player vjs-custom-skin playerContainer" ref="playerContainer" >
        <video class="video-js vjs-16-9 vjs-big-play-centered" controls ref="player"></video>
    </div>
</template>

<script>
    window.videojs = require('video.js');
    videojs = videojs.default || videojs;

    export default {
        props: ['src', 'poster'],
        data(){
            return{
                selectedQuality: null,
                qualitySwitcherDone: false,
                player: null,
                options: {
                    autoplay: true,
                    controls: true,
                    preload: 'metadata',
                    fluid: false,
                    muted: false,
                    width: '50%',
                    height: '360',
                    language: 'fr',
                    overrideNative: true,
                    techOrder: ['html5'],
                    sourceOrder: true,
                    html5: {
                        nativeAudioTracks: false,
                        nativeVideoTracks: false,
                        hls: {
                            withCredentials: false,
                        }
                    },
                    controlBar: {
//                            children: [
//                                "playToggle",
//                                "volumeMenuButton",
//                                "progressControl",
//                                "fullscreenToggle"
//                            ],
                            // After declaring children in the array, then specify
                            // further options for a child by referencing its name
//                            volumeMenuButton: {
//                                inline: true,
//                                vertical: false
//                            },

                    },
                    plugins: {},
                }

            }
        },

        methods: {
            initialize(on_air) {

                let self = this;
                this.selectedQuality = 'auto';
                this.player = videojs(this.$refs.player, this.options, function () {

                    let _this = this; // change name of this (e.g) the player to avoid confusion with the component
                    // player readied
                    self.$emit('ready', self.player);

                    // events
                    let events = ['loadeddata',
                        'canplay',
                        'canplaythrough',
                        'play',
                        'pause',
                        'waiting',
                        'playing',
                        'ended',
                        'error'];

                    for (var i = 0; i < events.length; i++) {
                        (function (event) {
                            _this.on(event, function () {
                                self.emitPlayerState(event, true)
                            })
                        })(events[i])
                    }

                    if (on_air) {
                        _this.src({
                            src: self.src,
                            type: 'application/x-mpegURL',
                            withCredentials: false,
                            overrideNative: true,
                        });
                    } else {
                        _this.src({
                            poster: self.poster
                        });
                    }

                    _this.getChild('controlBar').removeChild('currentTimeDisplay');
                    _this.getChild('controlBar').removeChild('durationDisplay');
                    _this.getChild('controlBar').removeChild('remainingTimeDisplay');
                    _this.getChild('controlBar').removeChild('timeDivider');

                });
                this.player.on('loadedmetadata', this.addQualitySwitcher)
            },

            dispose() {
                if (this.player && videojs) {
                    this.player.dispose();
                }
            },

            emitPlayerState(event) {
                if (event) {
                    if (event === "error"){
                        document.querySelector(".vjs-error-display .vjs-modal-dialog-content").innerHTML =
                            '<i aria-hidden="true" class="md-icon md-theme-default material-icons" style="color:#e64a19">' +
                            'mic_off' +
                            '</i> Offline';
                    }
                    this.$emit(event, this.player)
                }
            },

            addQualitySwitcher(){
                if(!this.qualitySwitcherDone) {

                    let sources = [];
                    let switcher = document.createElement("div");
                    let cinema = document.createElement("div");
                    switcher.classList += 'dropdown';

                    let html =
                        '<button class="vjs-control vjs-button dropbtn" id="quality">' +
                        '<i aria-hidden="true" class="dropbtn md-icon md-theme-default material-icons">settings</i>' +
                        '</button>' +
                        '<div id="myDropdown" class="dropdown-content">' +
                        '<div id="auto" class="selected">auto</div>';

                    cinema.innerHTML = 
                        '<button class="vjs-control vjs-button" id="cinema">' +
                        '<i aria-hidden="true" class="md-icon md-theme-default material-icons">movie</i>' +
                        '</button>'

                    sources.push({id: 'auto', src: this.src});
                    this.player.tech_.hls.representations().sort((a, b) => {
                        return a > b ? -1 : 1
                    })
                        .forEach((e) => {
                            let name = e.id.split("/")[0].split("_")[2];
                            let src = 'https://' + document.location.host + ":8000/hls/" + e.id;
                        
                            sources.push({id: name, src: src});
                            html += '<div id="' + name + '">' + name + '</div>';
                        });

                    switcher.innerHTML += html;
                    this.player.getChild('controlBar').el().appendChild(cinema);
                    this.player.getChild('controlBar').el().appendChild(switcher);

                    // add event listenner to toggle dropdown
                    document.getElementById("quality").addEventListener('click',
                        function showdropdown() {
                            document.getElementById('myDropdown').classList.toggle('show')
                        },
                        true
                    );

                    document.getElementById("cinema").addEventListener('click', this.$emit("cinemaOn"))

                    window.onclick = function (event) {
                        if (!event.target.matches('.dropbtn')) {
                            let dropdowns = document.getElementsByClassName("dropdown-content");
                            let i;
                            for (i = 0; i < dropdowns.length; i++) {
                                let openDropdown = dropdowns[i];
                                if (openDropdown.classList.contains('show')) {
                                    openDropdown.classList.remove('show');
                                }
                            }
                        }
                    };

                    // add event listenner to change quality
                    sources.forEach((e) => {
                        let el = document.getElementById(e.id)
                        el.addEventListener('click', () => {
                            this.player.src({
                                src: e.src,
                                type: 'application/x-mpegURL',
                                withCredentials: false
                            });

                            document.getElementById(this.selectedQuality).classList.remove('selected')

                            el.classList.toggle('selected');
                            this.selectedQuality = e.id;
                            this.player.play();
                        }, true)
                    });
                    this.qualitySwitcherDone = true;
                }
            },

        },

        beforeDestroy(){
            if (this.player) {
                window.onclick = undefined;
                this.dispose();
            }
        },

    }
</script>

<style>
    .playerContainer{
        width:100%;
        max-width: 4000px;
    }

    /* Dropdown Button */
    .dropbtn {
        color: white;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        top: auto;
        bottom: 100%;
        background-color: rgba(43,51,63,0.8);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content div {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .selected {
            background-color: rgba(2,136,209,0.8);
    }

    /* Change color of dropdown links on hover */
    .dropdown-content div:hover {background-color: rgba(13, 71, 161, .8)}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
</style>
