<template>
    <div>
        <progressive-background src="/dist/background-registerSucess.jpg"  style="z-index: 0; " class="registerSuccessfull">
            <md-layout md-row mdAlign="center" mdFlex="100">
                <md-layout md-tag="md-card" md-column md-flex="40" md-flex-medium="60" md-flex-small="80" md-flex-xsmall="90">
                    <md-card-header>
                        <div class="md-display-1">{{$route.params.username}}, bienvenue chez AwA !</div>
                    </md-card-header>

                    <md-card-content>
                        <md-layout class="alert alert-success">
                            <span class="md-subheading">
                                <md-icon >check_circle</md-icon>
                                    Votre inscription a bien été prise en compte.
                            </span>
                        </md-layout>
                        <md-layout class="alert">
                            <span class="md-subheading">
                                Afin de confirmer votre inscription, merci de cliquer sur le lien que nous vous avons envoyé par e-mail.
                            </span>
                        </md-layout>
                    </md-card-content>
                </md-layout>
            </md-layout>
        </progressive-background>

    </div>
</template>

<script>
    import image from "../assets/img/background-registerSucess.jpg"
    export default {}
</script>

<style scoped>
    .registerSuccessfull{
        padding-top: 5%;
    }
</style>