<template>
    <md-theme md-name="form" id="registerForm">
        <md-layout md-tag="form" novalidate >

            <span id="register_error_msg_anchor"></span>

            <transition name="fade">
                <md-layout class="alert alert-warning" v-if="error_message">
                        <span>
                            <md-icon>warning</md-icon>
                            {{ this.error_message }}
                        </span>
                </md-layout>
            </transition>

            <md-input-container :class="{'md-input-invalid': errors.has('username') }" ref="username" id="register_form_username">
                <md-icon>perm_identity</md-icon>
                <label>Nom d'utilisateur</label>
                <md-input type="text" name="username" v-model="form_values.username"
                          v-validate="{ required: true, username: true}" @keyup.enter.native="submit" ref="start_form" />
                <span class="md-error">{{ errors.first('username') }}</span>
            </md-input-container>

            <md-input-container md-has-password :class="{'md-input-invalid': errors.has('password') }" ref="password" id="register_form_password">
                <md-icon>fingerprint</md-icon>
                <label>Mot de passe</label>
                <md-input type="password" name="password" v-model="form_values.password"
                          v-validate="{required: true, min:8}" @keyup.enter.native="submit" />
                <span class="md-error">{{ errors.first('password') }}</span>
            </md-input-container>

            <md-input-container :class="{'md-input-invalid': errors.has('first_name') }" ref="first_name" id="register_form_first_name">
                <md-icon>person</md-icon>
                <label>Prénom</label>
                <md-input name="first_name" type="text" v-model="form_values.first_name"
                          v-validate="{ required: true}" @keyup.enter.native="submit" />
                <span class="md-error">{{ errors.first('first_name') }}</span>
            </md-input-container>

            <md-input-container :class="{'md-input-invalid': errors.has('last_name') }" ref="last_name" id="register_form_last_name">
                <md-icon>person</md-icon>
                <label>Nom</label>
                <md-input name="last_name" type="text" v-model="form_values.last_name"
                          v-validate="{ required: true}" @keyup.enter.native="submit" />
                <span class="md-error">{{ errors.first('last_name') }}</span>
            </md-input-container>

            <md-input-container :class="{'md-input-invalid': errors.has('mail') }" id="register_form_mail" ref="mail">
                <md-icon>email</md-icon>
                <label>Email</label>
                <md-input type="mail" name="mail" v-model="form_values.mail"
                          v-validate="{ required: true, email: true}" @keyup.enter.native="submit" />
                <span class="md-error">{{ errors.first('mail') }}</span>
            </md-input-container>

            <md-input-container :class="{'md-input-invalid': errors.has('birthdate') }" id="register_form_birthdate" ref="birthdate">
                <md-icon>cake</md-icon>
                <label>Date de naissance</label>
                <md-input name="birthdate" type="date" v-model="form_values.birthdate"
                          v-validate="{ required: true}" @keyup.enter.native="submit" />
                <span class="md-error">{{ errors.first('birthdate') }}</span>
            </md-input-container>

            <!-- <datepicker :inline="true"></datepicker> -->
            
            <md-layout mdAlign="end" >
                <md-button class="md-primary" @click="emitCloseDialog('registerLoginDialog')"
                           v-if="!this.hideCancelButton" @focus.native="$refs['start_form'].$el.focus()">
                    Annuler
                </md-button>
                <md-button class="md-primary" @click="submit()" @focus.native="$refs['start_form'].$el.focus()"> S'inscrire </md-button>
            </md-layout>

        </md-layout>
    </md-theme>
</template>

<script>
    import {Validator} from 'vee-validate'
    import Datepicker from 'vuejs-datepicker'

    export default {
        components: {
            Datepicker
        },
        props: ['hideCancelButton'],
        data() {
            return {
                form_values: {
                    username: "",
                    password: "",
                    firstName: "",
                    lastName: "",
                    mail: "",
                    birthdate: ""
                },
                error_message: "",
            }
        },
        methods: {
            emitCloseDialog() {
                this.$emit("closeDialog")
            },

            submit() {
                // test validation before submit
                this.$validator.validateAll().then((result) => {
                    let scroll_options= {
                        container: this.$route.path === "/" || this.$route.path === "/home" ?
                                                    '#loginRegisterDialogContent': "body",
                        easing: 'ease-in'
                    };

                    // all fields validated
                    if (result) {
                        this.$emit("sending"); // trigger progression bar

                        // send actual data to server
                        this.$http.post('/register', {
                            username: this.form_values.username, password: this.form_values.password,
                            firstName: this.form_values.first_name, lastName: this.form_values.last_name,
                            mail: this.form_values.mail, birthdate: this.form_values.birthdate
                        }).then(
                            // upon success
                            (response) => {
                                this.$emit("sending"); // trigger progression bar
                                this.emitCloseDialog();
                                let username = this.form_values.username; // get username before clearing form
                                this.clearForm();
                                this.$router.push("/register_successfull/" + username);// Redirection
                            },
                            // on error
                            (error) => {
                                this.$emit("sending"); // trigger progression bar
                                this.$scrollTo('#register_error_msg_anchor', 200, scroll_options);
                                this.error_message = error.response.data;
                            }
                        );
                    // on validation error
                    } else {
                            let target;
                            // select elem to scroll to according to validation errors
                            if (this.errors.has('username')){
                                target = '#registerForm'
                            } else if (this.errors.has('password')){
                                target = '#register_form_username'
                            } else if (this.errors.has('first_name')){
                                target = '#register_form_password'
                            } else if (this.errors.has('last_name')){
                                target = '#register_form_first_name'
                            } else if (this.errors.has('mail')){
                                target = '#register_form_last_name'
                            } else if (this.errors.has('birthdate')){
                                target = '#register_form_mail'
                            }
                            this.$scrollTo(target, 200, scroll_options);
                    }
                });
            },

            clearForm() {
                ['username', 'password', 'first_name','last_name', 'mail', 'birthdate'].forEach((elem) => {
                   this.$refs[elem].clearInput();
                });
                this.error_message = "";
            },
        }
    }
</script>