<template>
    <div id="startLive">
        <progressive-background src="/dist/onair.jpg"  style="z-index: 0; ">
            <md-layout md-row mdAlign="center" mdFlex="100" class="RegisterLogin">
                <md-layout md-tag="md-card" md-column md-flex="40" md-flex-medium="60" md-flex-small="80" md-flex-xsmall="90">
                    <md-card-header>
                        <div class="md-display-1">Vous pouvez débuter votre live.</div>
                    </md-card-header>

                    <md-card-content>

                        <transition name="fade">
                            <md-layout class="alert alert-warning" v-if="error_message">
                                <span>
                                    <md-icon>warning</md-icon>
                                    {{ error_message }}
                                </span>
                            </md-layout>

                            <md-layout class="alert alert-info" v-else>
                                <span>
                                    <md-icon>info</md-icon>
                                    Pour des raisons de sécurité, la clé fournie n'est valable qu'une demi-heure.
                                    Si vous deviez lancer ou relancer votre stream passé ce délai vous devrez renouveler
                                    votre clé.
                                </span>
                            </md-layout>
                        </transition>

                        <md-layout>
                            <md-layout md-tag="h4" mdFlex="30">
                                URL
                            </md-layout>
                            {{url}}
                        </md-layout>

                        <md-layout>
                            <md-layout mdFlex="30">
                                <h4>Clé de stream</h4>
                                <md-button class="md-icon-button md-mini" data-clipboard-target="#key" id="copy">
                                    <md-icon>content_copy</md-icon>
                                    <md-tooltip md-direction="bottom" md-delay="500" >
                                        Copier dans le presse-papier
                                    </md-tooltip>
                                </md-button>
                                <div id="key">
                                    {{key}}
                                </div>
                            </md-layout>
                        </md-layout>

                        <router-link to="/faq"> Comment lancer un stream ? </router-link>

                        <md-layout mdAlign="end">
                            <md-button class="md-primary" @click="getStreamKey(true)">
                                Renouveler la clé de stream
                            </md-button>
                        </md-layout>

                    </md-card-content>
                </md-layout>
            </md-layout>
        </progressive-background>

    </div>
</template>

<script>
    import image from "../assets/img/onair.jpg"
    var Clipboard = require('clipboard/dist/clipboard.min.js')

    export default {
        data(){
            return {
                url: "",
                key: "",
                error_message: ""

            }
        },

        methods: {
            getStreamKey(force){
                if (!this.key || force){
                    this.$bus.$emit('sending');
                    this.$http.get("/jwt/stream_key", {
                        headers: {'Authorization': this.$session.get("authorization")},
                    })
                        .then( (response) => {
                            this.$bus.$emit('sendingEnd');
                            if (response.status === 200){
                                this.url = response.data.url;
                                this.key = response.data.key;
                                this.error_message = "";
                            }
                        })
                        .catch( (error) => {
                            this.$bus.$emit('sendingEnd');
                            this.error_message = error.response.data
                        });
                }
            }
        },

        beforeRouteEnter ( to, from, next ) {
            // Pass a callback to next (optional)
            next(vm => {
                // this callback has access to component instance (ie: 'this') via `vm`
                if (vm.$session.get("authorization")){
                    vm.getStreamKey(false);
                    let clipboard = new Clipboard("#copy");
                    clipboard.on('success', function(e) {
                        vm.$snack.show("Clé ajoutée au presse papier")
                    });
                    next()
                } else {
                    next('/login/startLive/0')
                }
            })
        },
    }
</script>

<style>
    #startLive h4{
        margin: 0px;
    }

    #startLive .md-card-content > .md-layout{
        margin: 20px 0;
    }

    #startLive .md-card{
        padding: 15px;
    }
</style>