<template>
    <div class="streamersDisplay">
        <div class="filters">
            <md-layout class="md-flex">
                <slot name="filters" />
            </md-layout>
        </div>

        <div class="content">
            <slot name="content" />
        </div>
    </div>
</template>

<style scoped>
    .filters{
        -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
        background-image: -webkit-gradient(linear, left, right, from(rgb(238, 238, 238), rgb(220,220,220)));
        background-image: -webkit-linear-gradient(left, rgb(238, 238, 238), rgb(220,220,220));
        background-image: -moz-linear-gradient(left, rgb(238, 238, 238), rgb(220,220,220));
        background-image: linear-gradient(to left, rgb(238, 238, 238), rgb(220,220,220));
        z-index: 20;
    }

    .streamersDisplay{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }

    .streamersDisplay hr {
        margin-bottom: 0;
    }

    .streamersDisplay .content {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
        padding-left: 5%;
        padding-top: 8px;
    }
</style>
