<template>
    <StreamersOverview >
        <md-layout class="md-flex" slot="filters">
            <FilterGenre v-bind:tags="tagFilters" @clear="tagFilters=[]" />
        </md-layout>

        <transition-group name="streamerCard" tag="md-layout" class="md-flex" slot="content">
            <StreamerCard @addFavorite="addFavorite" v-for="streamerCardData in streamersFiltered"
                          :key="streamerCardData._id"
                          v-bind:streamerCard="streamerCardData" isShared="true"
                          class="streamerCard" />
        </transition-group>
    </StreamersOverview>
</template>

<script type="text/javascript">
    import StreamersOverview from './StreamersOverview.vue';
    import FilterGenre from './FilterGenre.vue'
    import FilterDispo from './FilterDispos.vue'
    import StreamerCard from './StreamerCard.vue';

    export default {
        components: {
            StreamersOverview,
            StreamerCard,
            FilterGenre,
            FilterDispo,
        },

        data() {
            return {
                streamers: undefined,
                tagFilters : [],
            }
        },

        methods: {
            getStreamersData(){
                this.$bus.$emit('sending');
                this.$http.get("/jwt/shared_streamers", {
                    headers: {'Authorization': this.$session.get("authorization")},
                }).then(
                    (response) => {
                        this.streamers = response.data;
                        this.$bus.$emit('sendingEnd')
                    },

                    (error) => {
                        console.log(error);
                    }
                )
            },

            addFavorite(isAdded, streamer_name){
                this.$store.showSnack(isAdded?
                    "Vous suivez maintenant " + streamer_name + "." :
                    "Vous ne suivez plus " + streamer_name + " dorénavant.");
            },
        },
        computed: {
            streamersFiltered(){
                // filter array this.privateStreamers keeping only element which has at least
                // one element in this.tagFilters
                if (this.streamers) {
                    let filterTest;
                    if (this.tagFilters.length === 0) { //  return all privateStreamers if tagFilters empty
                        return this.streamers;

                    } else{
                        filterTest = (e) => {
                            return e.tags.some((v) => {
                                return this.tagFilters.indexOf(v) >= 0;
                            })
                        };
                    }

                    return this.streamers.filter((elem) => {
                        return filterTest(elem)
                    });
                } else {
                    return []
                }
            }
        },
        beforeRouteEnter ( to, from, next ) {
            // Pass a callback to next (optional)
            next(vm => {
                // this callback has access to component instance (ie: 'this') via `vm`
                if (vm.$session.get("authorization")){
                    vm.getStreamersData();
                    vm.tagFilters = [];
                    next()
                } else {
                    next('/login/shared/0')
                }
            })
        },
    }
</script>
