<template>
    <div>
        <div id="streamerPage">
            <md-layout>
                <md-avatar class="md-avatar-icon">
                    <img :src="streamer.picture" >
                </md-avatar>
                <md-layout md-tag="h2" style="margin-left: 10px;">{{streamer.username}}</md-layout>

                <md-button md-dense :disabled="this.transInProgress" class="md-theme-form md-raised md-fab md-mini"
                           v-bind:class="{'md-warn': streamer.followed}"
                            @click="toggleFavorite">
                    <md-icon>favorite</md-icon>
                </md-button>
            </md-layout>

            <hr>

            <md-layout>
                <span v-html="streamer.bio" v-if="streamer.bio"></span>
                <span v-else>
                    {{streamer.username + " n'as pas encore rempli sa description"}}
                </span>
            </md-layout>

            <hr>

            <md-layout>
                <md-layout md-tag="h4" mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                    Genres
                </md-layout>

                <md-layout>
                    <md-chip v-for="genre in streamer.genres" v-bind:key="genre">
                        {{ genre }}
                    </md-chip>
                </md-layout>
            </md-layout>

            <hr>

            <md-layout>
                <md-layout md-tag="h4" mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                    Disponibilité
                </md-layout>

                <md-layout>
                    <md-chip v-for="dispo in streamer.dispos" v-bind:key="dispo">
                        {{ dispo }}
                    </md-chip>
                </md-layout>
            </md-layout>

<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/3445680&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
            <hr>

            <md-layout mdAlign="end">
                <md-button class="md-raised md-primary">
                    <md-icon>mail_outline</md-icon>
                    Contacter
                </md-button>
                <md-button class="md-raised md-primary">
                    <md-icon>done</md-icon>
                    Réserver
                </md-button>
            </md-layout>

        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                streamer: {},
                transInProgress: false,
            }
        },

        methods: {
            toggleFavorite(){
                // desactivate button to prevent user from clicking again and again while the request isn't commited yet
                // on DB
                this.$bus.$emit('sending');
                this.transInProgress = true;
                this.streamer.followers_nb = (this.streamer.followed ? this.streamer.followers_nb - 1:
                    this.streamer.followers_nb + 1);

                this.$http.post("/jwt/toggle_favorite",
                    { streamerId: this.streamer._id, isAdded: !this.streamer.followed},
                    { headers: {'Authorization': this.$session.get("authorization")}}
                ).then(
                    (response) => {
                        this.streamer.followed = !this.streamer.followed;

                        this.$snack.show(this.streamer.followed?
                            "Vous suivez maintenant " + this.streamer.username + "." :
                            "Vous ne suivez plus " + this.streamer.username + " dorénavant.");

                        this.$bus.$emit('sendingEnd');
                        // reactivate button after a timeout to prevent dumb user to click click click on button =)
                        setTimeout(() => {
                            this.transInProgress = false;
                        }, 500)
                    },

                    (error) => {
                        console.log(error)
                    }
                )
            },
        },

        beforeRouteEnter(to, from, next) {
            // Pass a callback to next (optional)
            next(vm => {
                // this callback has access to component instance (ie: 'this') via `vm`
                if (vm.$session.get("authorization")) {
                    vm.$bus.$emit('sending');
                    vm.$http.get("/jwt/streamer_page", {
                        headers: {'Authorization': vm.$session.get("authorization"), streamerId: vm.$route.params.id}
                    }).then(
                        (response) => {
                            vm.$bus.$emit('sendingEnd');
                            vm.streamer = response.data;
                            next()
                        },
                        (error) => {
                            console.log(error)
                        }
                    )
                } else {
                    next('/login/streamer/' + vm.$route.params.id)
                }
            })
        },

    }
</script>

<style>
    #streamerPage
    {
        padding-right: 20px;
        padding-left: 20px;
    }
</style>