<template>
    <md-layout md-tag="md-card" id="cgu-card">
        <md-card-header>
        <h2>Conditions générales d'utilisation</h2>
        </md-card-header>
        <md-card-content >
        <p>
            Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part,  ____ ,
            ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, et les services disponibles
            sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.
            Toute connexion au site est subordonnée au respect des présentes conditions.
            Pour l’utilisateur, le simple accès au site de l’EDITEUR à l’adresse URL suivante ____  implique
            l’acceptation de l’ensemble des conditions décrites ci-après.
        </p>

        <h3>Propriété intellectuelle</h3>
        <p>
            La structure générale du site ____ , ainsi que les textes, graphiques, images, sons et  vidéos la composant,
            sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation
            partielle ou totale des contenus et services proposés par le site ____ , par quelque procédé que ce soit, sans
            l'autorisation préalable et par écrit de  ____  et/ou de ses partenaires est strictement interdite et serait
            susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété
            intellectuelle.
            <br>
            Les marques "____ ", "____" sont des marques déposées par____ .Toute représentation et/ou reproduction et/ou
            exploitation partielle ou totale de ces marques, de quelque nature que ce soit, est totalement prohibée.
        </p>

        <h3>Responsabilité de l’éditeur</h3>
            <p>
            Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources
            considérées comme étant fiables.
            <br>
            Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des
            erreurs typographiques.
            <br>
            L’EDITEUR se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.
            <br>
            Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à
            disposition sur ce site.
            <br>
            Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et
            peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour
            entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.
            <br>
            L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule
            responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que l’EDITEUR
            puisse être recherché à ce titre, et sans recours contre ce dernier.
            <br>
            L’EDITEUR ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de
            l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.
        </p>

        <h3>Accès au site</h3>
        <p>
            L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure
            ou d’un événement hors du contrôle de l’EDITEUR, et sous réserve des éventuelles pannes et interventions de
            maintenance nécessaires au bon fonctionnement du site et des services.
            <br>
            Par conséquent, l’EDITEUR ne peut garantir une disponibilité du site et/ou des services, une fiabilité des
            transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune
            assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.
            <br>
            La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou
            d’utilisation des services.
            <br>
            Par ailleurs, l’EDITEUR peut être amené à interrompre le site ou une partie des services, à tout moment sans
            préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que l’EDITEUR ne soit pas
            responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.
        </p>

        <h3>Droit applicable</h3>
        <p>
            Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français,
            quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative
            de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.
            <br>
            Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse suivante :
        </p>
        </md-card-content>
    </md-layout>
</template>

<script>

    export default {}
</script>

<style>
    @media screen and (min-height:700px) {
        #cgu-card {
            height: 60vh;
        }
    }

    @media screen and (max-height: 700px) {
        #cgu-card {
            height: 50vh;
        }
    }
</style>