<template>
    <StreamersOverview>
        <md-layout class="md-flex" slot="filters">
            <FilterGenre v-bind:tags="tagFilters" @clear="tagFilters=[]" />
            <FilterDispo v-bind:dispos="dispoFilters" @clear="dispoFilters=[]" />
            <FilterPrice v-bind:prices="priceFilters" @clear="priceFilters=[]" />
            <md-button class="md-icon-button" style="margin: auto 0" @click="resetFilters">
                <md-tooltip md-direction="right">Supprimer les filtres</md-tooltip>
                <md-icon>clear</md-icon>
            </md-button>
        </md-layout>

        <transition-group name="streamerCard"  tag="md-layout" class="md-flex" slot="content">
                <StreamerCard v-for="streamerCardData in privateStreamersFiltered"
                        :key="streamerCardData._id"
                        :streamerCard="streamerCardData"
                        class="streamerCard" />
        </transition-group>
    </StreamersOverview>
</template>

<script type="text/javascript">
    import FilterGenre from './FilterGenre.vue'
    import FilterDispo from './FilterDispos.vue'
    import StreamerCard from './StreamerCard.vue';
    import FilterPrice from './FilterPrice.vue';
    import StreamersOverview from './StreamersOverview.vue';

    export default {
        components: {
            StreamersOverview,
            StreamerCard,
            FilterGenre,
            FilterDispo,
            FilterPrice
        },

        data() {
            return {
                privateStreamers: undefined,
                tagFilters : [],
                dispoFilters: [],
                priceFilters: []
            }
        },

        methods: {
            getStreamersData(){
                this.$bus.$emit('sending');
                this.$http.get("/jwt/private_streamers", {
                    headers: {'Authorization': this.$session.get("authorization")},
                }).then(
                    (response) => {
                        this.privateStreamers = response.data;
                        this.$bus.$emit('sendingEnd')
                    },

                    (error) => {
                        console.log(error)
                    }
                )
            },

            // i = index of range in this.priceFilters
            // i=1 -> [0 50[
            // i=2 -> [50 100[
            // i=3 -> [100 150[
            // i=4 -> [150 200[
            // i=5 -> [200 ∞[
            priceFilter(e){
                return this.priceFilters.some((p) => {
                    if (p === 5)
                        return (p-1)*50 <= e.price
                    else
                        return  (p-1)*50 <= e.price && e.price < p*50
                })
            },

            tagFilter(e){
                return e.genres.some((v) => {
                    return this.tagFilters.indexOf(v) >= 0;
                })
            },

            dispoFilter(e){
                return e.dispos.some((v) => {
                    return this.dispoFilters.indexOf(v) >= 0;
                })
            },

            resetFilters(){
                this.dispoFilters = [];
                this.tagFilters = [];
                this.priceFilters = [];
            }
            

        },
        computed: {
            privateStreamersFiltered(){
                // filter array this.privateStreamers keeping only element which has at least
                // one element in this.tagFilters
                if (this.privateStreamers) {
                    let filterTest;
                    if (this.tagFilters.length === 0 && this.dispoFilters.length === 0 && this.priceFilters.length === 0) { //  return all privateStreamers if tagFilters empty
                        return this.privateStreamers;

                    } else if (this.priceFilters.length === 0 && this.dispoFilters.length === 0){
                        filterTest = this.tagFilter;

                    } else if  (this.priceFilters.length === 0 && this.tagFilters.length === 0){
                        filterTest = this.dispoFilter;

                    } else if (this.dispoFilters.length === 0 && this.tagFilters.length === 0){
                        filterTest =  this.priceFilter;

                    } else if (this.dispoFilters.length === 0){
                        filterTest = (e) => {return this.tagFilter(e) && this.priceFilter(e)};              

                    } else if (this.tagFilters.length === 0){
                        filterTest = (e) => { return this.priceFilter(e) && this.dispoFilter(e) };

                    } else if (this.priceFilters.length === 0){
                        filterTest = (e) => {return this.tagFilter(e) && this.dispoFilter(e)};

                    } else {
                        filterTest = (e) => { return this.tagFilter(e) && this.dispoFilter(e) && this.priceFilter(e) };
                    }

                    return this.privateStreamers.filter((elem) => {
                        return filterTest(elem)
                    });
                } else {
                    return []
                }
            }
        },
        
        beforeRouteEnter ( to, from, next ) {
            // Pass a callback to next (optional)
            next(vm => {
                // this callback has access to component instance (ie: 'this') via `vm`
                if (vm.$session.get("authorization")){
                    vm.getStreamersData();
                    vm.tagFilters = [];
                    vm.dispoFilters = [];
                    next()
                } else {
                    next('/login/private/0')
                }
            })
        },
    }
</script>
