<template>
    <!-- TODO: make a nice chips expand instead of the md version -->

    <md-card class="streamerCard" >
        <md-card-header>
            <md-card-header-text>
                <div class="md-title" @click="routeToStreamerPage">{{ streamerCard.username }}</div>
                <div class="md-subhead">
                    {{ fan_nb }}
                </div>
            </md-card-header-text>

            <div style="display: flex; flex-direction: column">
                <md-button ref="favAction" :disabled="this.transInProgress" md-theme="form" class="md-icon-button" v-bind:class="{'md-warn': streamerCard.followed}" @click="toggleFavorite()">
                    <md-icon>favorite</md-icon>
                </md-button>
                <div class="price-subhead" v-if="streamerCard.price || streamerCard.price === 0.0">
                    {{ streamerCard.price + ' €/h'}} 
                </div>
            </div>
        </md-card-header>
  
        <md-card-media @click.native="routeToStreamerPage">
            <img :src="streamerCard.picture === null ? '/dist/dj1.jpg':streamerCard.picture" alt="DJ">
        </md-card-media>

        <md-card-content >
            <md-chip v-for="tag in this.streamerCard.genres.slice(0,2)" v-bind:key="tag">
                {{ tag }}
            </md-chip>
        </md-card-content>

        <md-card-expand>
            <md-card-content v-if="this.streamerCard.genres.length > 2">
                <md-chip v-for="tag in this.streamerCard.genres.slice(2, this.streamerCard.genres.length)" v-bind:key="tag">
                    {{ tag }}
                </md-chip>
            </md-card-content>

            <md-card-actions v-if="this.streamerCard.genres.length > 2">
                <span style="flex: 1"></span>
                {{ button_text }}
                <md-button class="md-icon-button" md-expand-trigger @click="toggleExpand()">
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </md-card-actions>

            <md-card-actions v-else>
                <span style="flex: 1"></span>
                <md-button :disabled="true ">
                </md-button>
            </md-card-actions>

        </md-card-expand>


    </md-card>
</template>

<script>

import img from "../assets/img/dj1.jpg"

export default {
    props: ['streamerCard', 'isShared'],
    data(){
        return{
            expanded: false,
            transInProgress: false,
        }
    },
    computed:{
        button_text(){
            if (this.expanded){
                return "cacher"
            } else {
                return this.streamerCard.tags.length -2 + " de plus";
            }
        },
        fan_nb(){
            return (this.streamerCard.followers_nb === 0 || this.streamerCard.followers_nb === 1)
                                                            ? this.streamerCard.followers_nb + " fan"
                                                            : this.streamerCard.followers_nb + " fans"
        }
    },
    methods:{
        toggleExpand(){
            this.expanded = !this.expanded;
        },
        toggleFavorite(){
            // desactivate button to prevent user from clicking again and again while the request isn't commited yet
            // on DB
            this.$bus.$emit('sending');
            this.transInProgress = true;
            this.streamerCard.followers_nb = (this.streamerCard.followed ? this.streamerCard.followers_nb - 1:
                                                                           this.streamerCard.followers_nb + 1);

            this.$http.post("/jwt/toggle_favorite",
                { streamerId: this.streamerCard._id, isAdded: !this.streamerCard.followed},
                { headers: {'Authorization': this.$session.get("authorization")}}
            ).then(
                (response) => {
                    this.streamerCard.followed = !this.streamerCard.followed;

                    this.$snack.show(this.streamerCard.followed?
                        "Vous suivez maintenant " + this.streamerCard.username + "." :
                        "Vous ne suivez plus " + this.streamerCard.username + " dorénavant.");

                    this.$bus.$emit('sendingEnd');
                    // reactivate button after a timeout to prevent dumb user to click click click on button =)
                    setTimeout(() => {
                        this.transInProgress = false;
                    }, 500)
                },

                (error) => {
                    console.log(error)
                }
            )
        },
        routeToStreamerPage(){
            if (this.isShared){
                this.$router.push('/streamer_live/' + this.streamerCard._id);
            } else {
                this.$router.push('/streamer/' + this.streamerCard._id);
            }
        }

    },
}
</script>

<style scoped>
    @media screen and (max-width: 640px) {
        .streamerCard {
            width: 90% ;
            /*height: 40%;*/
            margin: 10px;
        }
    }

    @media screen and (min-width: 640px) and (max-width: 1080px) {
        .streamerCard {
            width: 30% ;
            margin: 10px;
        }
    }

    @media screen and (min-width: 1080px) {
        .streamerCard {
            width: 22.5% ;
            /*height: 20%;*/
            margin: 10px;
        }
    }

    .streamerCard .md-card-media{
        cursor: pointer;
    }

    .streamerCard .price-subhead{
        display: flex;
        display: -webkit-flex;
        align-self: center;
        opacity: .54;
        font-size: 14px;
        letter-spacing: .01em;
        line-height: 18px;
    }


    .streamerCard .md-title{
        cursor: pointer;
    }

    .streamerCard .md-card-expand .md-card-content{
        padding: 0 2px 2px 2px;
    }

    .streamerCard .md-card-content{
        padding: 2px 2px 0 2px;
    }

    .streamerCard .md-chip{
        margin: 1px;
    }

    /* Transition */

    /* base */
    .streamerCard {
        backface-visibility: hidden;
        z-index: 1;
        transition: transform .3s;
    }

    .streamerCard:hover {
        -moz-transform: scale(1.04);
        -webkit-transform: scale(1.04);
        -o-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04);
        z-index: 2;
    }

    /* moving */
    .streamerCard-move {
        transition: all 400ms ease-in-out 200ms;
    }

    /* appearing */
    .streamerCard-enter-active {
        transition: all 400ms ease-out;
    }

    /* disappearing */
    .streamerCard-leave-active {
        transition: all 300ms ease-in;
        position: absolute;
        z-index: 0;
    }

    /* appear at / disappear to */
    .streamerCard-enter,
    .streamerCard-leave-to {
        opacity: 0;
    }

    .md-card .md-card-expand.md-active .md-card-content {
        padding:0px;
    }
</style>