<template>
    <div>
        <div id="streamerLivePage" :class="{'big': isBig, 'small': !isBig}">

            <div class="streamerPlay" ref="content">

                <md-toolbar class="md-dense md-transparent">
                    <md-layout md-tag="h3"
                               :style="{'max-width': playerWidth - 188 + 'px'}">{{streamer.username}}</md-layout>

                    <md-button md-dense class="md-raised md-dense" @click="$refs.gift.openDialog()"
                               id="gift-button" ref="giftButton">
                        <md-icon>card_giftcard</md-icon>
                        Don
                    </md-button>

                    <Gift ref="gift" :streamer="streamer.username" />

                    <md-button md-dense :disabled="this.transInProgress" class="streamer-fav md-theme-form md-raised md-dense"
                                v-bind:class="{'md-warn': streamer.followed}"
                                @click="toggleFavorite" ref="favoriteButton"
                                >
                        <md-icon>favorite</md-icon> {{ !streamer.followed ? "Suivre" : ""}}
                    </md-button>

                    <icon name="caret-right" id="hide-chat-icon" v-if="chatShown" @click.native="chatShown = !chatShown" />
                    <icon name="caret-left" id="show-chat-icon" v-else @click.native="chatShown = !chatShown" />
                </md-toolbar>

                <div class="content">
                    <md-card v-bind:style="{'max-width': playerWidth + 'px'}" ref="playerCard">
                        <md-card-media>
                            <Player ref="player" :src="'https://' + this.host + ':8000' + this.streamer.src" :poster="this.streamer.picture" />
                        </md-card-media>

                        <md-card-content>
                            <md-chip v-for="genre in streamer.genres"
                                    v-bind:key="genre">
                                    {{ genre }}
                            </md-chip>
                        </md-card-content>
                    </md-card>

                    <md-layout v-if="isBig">
                        <span v-html="streamer.bio" v-if="streamer.bio"></span>
                        <span v-else>
                            {{streamer.username + "n'as pas encore rempli sa description"}}
                        </span>
                    </md-layout>
                </div>
            </div>

                <Chat
                    v-show="chatShown"
                    :isBig="isBig"
                    :picture="streamer.picture"
                    :pseudo="$store.state.user.username"
                    ref="chat"
                />
        </div>

    </div>
</template>

<script>
    import Player from './Player.vue';
    import Chat from './Chat.vue';
    import Gift from './Gift.vue';
    import '../../../../node_modules/vue-awesome/icons/caret-left'
    import '../../../../node_modules/vue-awesome/icons/caret-right'
    import Icon from '../../../../node_modules/vue-awesome/components/Icon.vue'

    export default {
        components: {
            Player,
            Chat,
            Icon,
            Gift
        },

        data(){
            return {
                streamer: {
                    name: "",
                    genres: [],
                    bio: [],
                    picture: "",
                    followers_nb: "",
                    followed: "",
                    src: "",
                    on_air: ""
                },
                host: document.location.host.split(":")[0],
                transInProgress: false,
                width: window.innerWidth,
                height: window.innerHeight,
                ratio: 75,
                chatShown: true,
            }
        },


        methods: {
            toggleFavorite(){
                // desactivate button to prevent user from clicking again and again while the request isn't commited yet
                // on DB
                this.$bus.$emit('sending');
                this.transInProgress = true;
                this.streamer.followers_nb = (this.streamer.followed ? this.streamer.followers_nb - 1:
                    this.streamer.followers_nb + 1);

                this.$http.post("/jwt/toggle_favorite",
                    { streamerId: this.streamer._id, isAdded: !this.streamer.followed},
                    { headers: {'Authorization': this.$session.get("authorization")}}
                ).then(
                    (response) => {
                        this.streamer.followed = !this.streamer.followed;

                        this.$snack.show(this.streamer.followed?
                            "Vous suivez maintenant " + this.streamer.username + "." :
                            "Vous ne suivez plus " + this.streamer.username + " dorénavant.");

                        this.$bus.$emit('sendingEnd');
                        // reactivate button after a timeout to prevent dumb user to click click click on button =)
                        setTimeout(() => {
                            this.transInProgress = false;
                        }, 500)
                    },

                    (error) => {
                        console.log(error)
                    }
                )
            },

            getWidth(){
                this.height = window.innerHeight;
                this.width = document.documentElement.clientWidth;
            },

        },

        computed:{
            isBig(){
                return this.width > 680;
            },
            playerWidth(){
               return (this.height - 64*3) * 16/9
            },


        },

        beforeRouteEnter(to, from, next){
            next(vm => {
                let id = vm.$route.params.id;
                // this callback has access to component instance (ie: 'this') via `vm`
                if (vm.$session.get("authorization")){
                    vm.$http.get("/jwt/streamer_live", {
                        headers: {'Authorization': vm.$session.get("authorization"),
                            streamerId: id}
                    })
                        .then( (response) => {
                            vm.$bus.$emit('sendingEnd');
                            vm.streamer = response.data;
                            vm.$refs.player.initialize(vm.streamer.onAir);
                            vm.$refs.chat.initialize(id, response.data.username);
                            window.addEventListener('resize', vm.getWidth);
                            next()
                        })
                        .catch( (error) => {
                            console.log(error)
                        });
                } else {
                    next('/login/streamer_live/' + vm.$route.params.id)
                }
            })
        },

        beforeRouteLeave (to, from, next) {
            window.removeEventListener('resize', this.getWidth);
            this.$destroy();
            next()
        }



    }
</script>

<style>
    #streamerLivePage .md-layout
    {
        padding-right: 20px;
        padding-left: 20px;
    }


    #streamerLivePage.big{
        display: flex;
        height: 100%;
        display: -webkit-flex;
    }

    #streamerLivePage.small{
        width: 100vw;
        position: fixed;
        padding-top: 64px;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }

    #hide-chat-icon,
    #show-chat-icon{
        color: royalblue;
        cursor: pointer;
        position: absolute;
        right: 2px;

        width: auto;
        height: 25px; /* or any other relative font sizes */

        /* You would have to include the following two lines to make this work in Safari */
        max-width: 100%;
        max-height: 100%;
    }


    #streamerLivePage .streamerPlay .md-toolbar{
        background-image: -webkit-gradient(linear, left, right, from(rgb(238, 238, 238), rgb(220,220,220)));
        background-image: -webkit-linear-gradient(left, rgb(238, 238, 238), rgb(220,220,220));
        background-image: -moz-linear-gradient(left, rgb(238, 238, 238), rgb(220,220,220));
        background-image: linear-gradient(to left, rgb(238, 238, 238), rgb(220,220,220));
        padding: 0 2px 0 8px;
    }

    #streamerLivePage.big .streamerPlay{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -ms-overflow-style: none;
        height: 100%;
        flex: 3;
    }

    #streamerLivePage.big .content{
        overflow-y: auto;
        flex: 1;
        -webkit-overflow-scrolling: touch;
    }

    #streamerLivePage .streamer-fav{
        margin-right: 14px;
    }


    #streamerLivePage .md-card{
        margin: 5px 16px 10px 16px;
        max-width: 1200px;
    }

    #streamerLivePage .md-toolbar h3{
        margin: 0;
        padding-left: 8px
    }

    #streamerLivePage .md-toolbar{
        width: 100%;
        /* border-bottom: solid 4px gainsboro; */
        z-index: 10;
    }
</style>
