<template>
    <div id="userAccountTabProfil">
        <md-layout class="info-layout">
            <md-layout :mdColumn="true" >
                <md-layout md-tag="h3">Paramètres du profil</md-layout>
                <md-layout md-tag="p">Actualiser votre pseudo, votre adresse mail ou votre photo de profil.</md-layout>
            </md-layout>
        </md-layout>
        <span ref="errorSpan"></span>

        <md-theme md-name="form">
            <form ref="profilForm" novalidate>

                <transition name="fade">
                    <md-layout class="alert alert-warning" v-if="error_message">
                        <span>
                            <md-icon>warning</md-icon>
                            {{ this.error_message }}
                        </span>
                    </md-layout>
                </transition>


                <md-layout>
                    <md-layout md-tag="h4" mdFlexXsmall="40" mdFlexSmall="30" mdFlex="20">
                        Adresse électronique
                    </md-layout>

                    <md-layout md-tag="md-input-container" mdFlexXsmall="60" mdFlexSmall="50" mdFlex="40"
                               :class="{'md-input-invalid': errors.has('mail') }">
                        <md-input type="text" name="mail" v-model="mail" v-validate="{ required: true, email:true }" />
                        <span class="md-error">{{ errors.first('mail') }}</span>
                    </md-layout>
                </md-layout>

                <hr>

                <md-layout>
                    <md-layout md-tag="h4" mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                        Image du profil
                    </md-layout>

                    <ImageLoader size_limit="3" :picture="picture" @change="changeImage" type="avatar"/>
                </md-layout>

                <hr>

                <md-layout>
                    <md-layout md-tag="h4" mdFlexXsmall="40" mdFlexSmall="30" mdFlex="20">
                        Spotify
                    </md-layout>
                    <md-layout mdFlexXsmall="60" mdFlexSmall="50" mdFlex="80"  >
                        <md-button class="md-raised md-background spotify">
                            <span> <icon name="spotify" /> Se connecter</span>
                        </md-button>
                        <md-subheader>
                            Vous connecter à spotify nous permettra de vous faire des suggestions d'artistes personnalisées
                        </md-subheader>
                    </md-layout>
                </md-layout>

                <hr>

                <md-layout mdAlign="end">
                    <md-button class="md-raised md-primary" @click="updateProfil">Sauvegarder</md-button>
                </md-layout>
            </form>

        </md-theme>

    </div>
</template>

<script>
    import '../../../../node_modules/vue-awesome/icons/spotify'
    import Icon from '../../../../node_modules/vue-awesome/components/Icon.vue'
    import ImageLoader from './ImageLoader.vue'

    export default {
        components: {
            Icon,
            ImageLoader,
        },

        data(){
            return {
                picture_size: 0,
                error_message: "",
                user: {
                    mail: undefined,
                    picture: undefined
                }
            }
        },

        methods: {

            scrollTop(){
                document.getElementById('userAccountPage').scroll({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            },

            updateProfil(){
                this.$validator.validateAll().then((result) => {
                    // test validation before submit
                    if (result) {

                        // create post_data query depending on what has changed (lazy update)
                        let post_data = {};
                        ["mail", "picture"].forEach((e) => {
                           if (this.user[e] && this.user[e] !== this.$store.state.user[e]){
                               post_data[e] = this.user[e];
                           }
                        });

                        // if nothing has changed we display information and exit method
                        if (Object.keys(post_data).length === 0) {
                            this.$snack.show("Votre profil est déjà à jour !");
                            return;
                        }
                        // trigger progression bar
                        this.$bus.$emit('sending');

                        // post data to update user
                        this.$http.post("/jwt/user_profil", post_data,
                            {headers: {'Authorization': this.$session.get("authorization")}}
                        ).then(
                            (response) => {
                                this.$bus.$emit('sendingEnd'); // trigger progression bar
                                // clear error message
                                this.error_message = "";
                                // commit changes on store
                                this.$store.commit("user_profil_updated", response.data);
                                // reset local variables which act as change watcher
                                for (let key in this.user){
                                    this.user[key] = undefined
                                }

                                // display informations
                                this.$snack.show("Votre profil a été mis à jour.");
                            },

                            (error) => {
                                this.$bus.$emit("sendingEnd");
                                this.error_message = error.response.data;
                                // scroll to error span
                                this.scrollTop();
                            }
                        );
                    } else {
                        this.$snack.show("Formulaire invalide");
                        this.scrollTop();
                    }
                });
            },

            // triggered when ImageLoader emit a change event
            changeImage(data){
                this.picture = data;
            }
        },

        computed: {
            username: {
                get: function () {return this.user.username || this.$store.state.user.username},
                set: function (newValue) {this.user.username = newValue}
            },

            mail: {
                get: function () {return this.user.mail || this.$store.state.user.mail},
                set: function (newValue) {this.user.mail = newValue}
            },

            picture: {
                get: function () {return this.user.picture || this.$store.state.user.picture},
                set: function (newValue) {this.user.picture = newValue}
            },
        },

    }
</script>

<style scoped>
    .spotify:hover svg{
        animation: sound 2s;
    }
</style>