<template>
    <div id="userAccountTabStreamer">
        <md-layout class="info-layout">
            <md-layout :mdColumn="true" id="error_msg_anchor">
                <md-layout md-tag="h3" >
                    {{ $store.state.user.streamerId ? 'Paramètres du compte streamer':'Plus qu\'une étape...'}}
                </md-layout>
                <md-layout md-tag="p">
                    {{
                        $store.state.user.streamerId ?
                        'Modifier vos informations streamer (description, image...)':
                        'Pour devenir streamer AwA vous devez remplir le formulaire ci-dessous.'
                    }}
                </md-layout>
            </md-layout>
        </md-layout>

        <md-theme md-name="form" ref="errorAnchor">
            <form ref="streamerForm" novalidate>

                <transition name="fade">
                    <md-layout class="alert alert-warning" v-if="error_message">
                        <span>
                            <md-icon>warning</md-icon>
                            {{ this.error_message }}
                        </span>
                    </md-layout>
                </transition>

                <md-layout>
                    <md-layout md-tag="h4" mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                        Soirées privées
                    </md-layout>

                    <md-layout md-column mdFlexXsmall="100">

                        <md-checkbox v-model="streamer.doPrivate">
                            Je souhaite animer des évenements privées
                        </md-checkbox>

                        <transition name="fade">
                            <md-layout v-show="streamer.doPrivate">
                                <FilterDispo :dispos="streamer.dispos" />

                                <md-layout style="padding: 10px 0 0 8px" mdFlexSmall="100">
                                    <md-chip v-for="(dispo, index) in streamer.dispos"
                                             v-bind:key="index"
                                             :mdDeletable="true"
                                             @delete="deleteDispo(index)">
                                        {{ dispo }}
                                    </md-chip>
                                </md-layout>

                                <input type="hidden" name="dispos" :value="streamer.dispos" v-validate="dispos_rule" />
                                <md-layout mdFlex="100" md-row v-show="streamer.dispos.length < 2">
                                    <span class="md-error" style="margin-left: 22px">
                                        Vous devez choisir au moins deux disponibilités
                                    </span>
                                </md-layout>

                                <md-layout mdFlex="100" style="margin-left: 12px">
                                    <md-input-container :class="{'md-input-invalid': errors.has('price') }" style="width: 70%">
                                        <label>Prix de l'heure (€)</label>
                                        <md-input type="number" name="price" v-model="streamer.price" ref="price"
                                                  v-validate="price_rule">
                                        </md-input>
                                        <span class="md-error">
                                            {{ errors.first('price') }}
                                        </span>
                                    </md-input-container>
                                </md-layout>
                            </md-layout>
                        </transition>

                    </md-layout>

                </md-layout>

                <hr>

                <md-layout>
                    <md-layout md-tag="h4" mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                        Genres musicaux
                    </md-layout>

                    <md-layout mdFlexXsmall="100">

                        <FilterGenre :tags="streamer.genres" />

                        <md-layout style="padding: 10px 0 0 8px" mdFlexSmall="100">
                            <md-chip v-for="(genre, index) in streamer.genres"
                                     v-bind:key="index"
                                     :mdDeletable="true"
                                     @delete="deleteGenre(index)">
                                {{ genre }}
                            </md-chip>
                        </md-layout>

                        <md-layout mdFlex="100" md-row v-show="streamer.genres.length < 2">
                            <span class="md-error" style="margin-left: 22px">
                                Vous devez choisir au moins 2 genres
                            </span>
                        </md-layout>

                    </md-layout>
                    <!-- add hidden input for validation with v-validate -->
                    <input type="hidden" name="genres" :value="streamer.genres" v-validate="{required: true, list_size: 2}"/>

                </md-layout>

                <hr>

                <md-layout>
                    <md-layout md-tag="h4" mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                        Image d'artiste
                    </md-layout>

                    <md-layout mdFlexXsmall="100" mdFlexSmall="70" mdFlex="80">
                        <ImageLoader size_limit="3" :picture="streamer.picture" @change="changeImage" type="streamer" >
                            L'image d'artiste que vous choisissez sera celle vu par les utilisateurs d'AwA
                        </ImageLoader>

                        <md-layout mdFlex="100" md-row v-show="streamer.picture === null">
                            <span class="md-error">
                                Vous devez choisir une image d'artiste
                            </span>
                        </md-layout>

                    </md-layout>
                </md-layout>

                <hr>

                <md-layout>
                    <md-layout mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                        <md-layout md-tag="h4">Description</md-layout>

                        <md-layout mdAlign="start" md-tag="h3">
                            <md-button class="md-icon-button" @click="preview=!preview" v-show="!preview" >
                                <md-icon>visibility</md-icon>
                                <md-tooltip md-direction="right" mdDelay="500">Afficher l'aperçu</md-tooltip>
                            </md-button>

                            <md-button class="md-icon-button" @click="preview=!preview" v-show="preview">
                                <md-icon>edit_mode</md-icon>
                                <md-tooltip md-direction="right" mdDelay="500">Editer</md-tooltip>
                            </md-button>
                        </md-layout>

                        <md-layout mdFlex="100" md-row >
                            <span class="md-error">
                                {{ errors.first('bio') }}
                            </span>
                        </md-layout>

                    </md-layout>

                    <md-layout md-column mdFlexSmall="100" >
                        <md-card v-show="preview" >
                            <md-card-header class="preview">Aperçu</md-card-header>
                            <md-card-content >
                                <span v-html="sanitized_html" ></span>
                            </md-card-content>
                        </md-card>
                        <vue-editor v-model="streamer.bio" v-show="!preview"
                                    @imageAdded="handleEditorImgAdded" useCustomImageHandler name="bio"/>

                        <!-- Cropper used on editor -->
                        <Cropper ref="cropper" :type="'free'" @change="setImage()" />

                        <md-subheader>
                            Votre description sera affiché sur votre page personnel, et sera vue par les utilisateurs d'AwA.
                            Donnez leur envie de vous écouter !
                        </md-subheader>

                        <md-layout mdFlex="100" md-row >
                            <span class="md-error" style="font-size: 12px; color: #e64a19; margin-left: 22px">
                                {{ errors.first('bio') }}
                            </span>
                        </md-layout>

                    </md-layout>
                </md-layout>

                <hr>

                <md-layout>
                    <md-layout md-tag="h4" mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                        Téléphone
                    </md-layout>

                    <md-layout md-tag="md-input-container" mdFlexXsmall="100" mdFlex="50"
                               :class="{'md-input-invalid': errors.has('telephone') }">
                        <md-input type="text" name="telephone" v-model="streamer.telephone"
                                  placeholder="Entrez votre numéro de téléphone"
                                  v-validate="{ required: true, tel: true}"/>
                        <span class="md-error">{{ errors.first('telephone') }}</span>
                    </md-layout>
                </md-layout>

                <hr>

                <md-layout>
                    <md-layout md-tag="h4" mdFlexXsmall="100" mdFlexSmall="30" mdFlex="20">
                        Coordonnées bancaires
                    </md-layout>

                    <md-layout md-column mdFlexXsmall="100" mdFlex="50">

                        <md-input-container :class="{'md-input-invalid': errors.has('bic') }">
                            <label>BIC</label>
                            <md-input type="text" name="bic" v-model="streamer.bic" v-validate="{ required: true, bic: true}" />
                            <span class="md-error">{{ errors.first('bic') }}</span>
                        </md-input-container>

                        <md-input-container :class="{'md-input-invalid': errors.has('iban') }">
                            <label>IBAN</label>
                            <md-input type="text" name="iban" v-model="streamer.iban"
                                      v-validate="{ required: true, iban: true}" />
                            <span class="md-error">{{ errors.first('iban') }}</span>
                        </md-input-container>
                        <md-subheader>
                            Fournir vos coordonnées bancaires est essentiel pour nous permettre de vous rémunérer.
                        </md-subheader>
                    </md-layout>

                </md-layout>

                <hr>

                <md-layout mdAlign="end">
                    <md-button class="md-raised md-primary" @click="updateStreamerProfil()">
                        <span>
                            <md-icon>save</md-icon>
                            Sauvegarder
                        </span>
                    </md-button>
                </md-layout>
            </form>

        </md-theme>

    </div>
</template>

<script>
    import ImageLoader from "./ImageLoader.vue"
    import FilterDispo from "./FilterDispos.vue"
    import FilterGenre from './FilterGenre.vue'
    import { VueEditor } from 'vue2-editor'
    import Cropper from './Cropper.vue'
    import '../../../../node_modules/vue-awesome/icons/euro'
    import Icon from '../../../../node_modules/vue-awesome/components/Icon.vue'

    // var hash = require('object-hash');

    export default {
        components: {
            ImageLoader,
            FilterDispo,
            FilterGenre,
            VueEditor,
            Cropper,
            Icon
        },

        props: ["streamer"],

        data(){
            return{
                error_message: "",
                bio_size: 0,
                preview: false,
            }
        },
        methods:{
            scrollTop(){
                document.getElementById('userAccountTabStreamer').parentElement.scroll({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            },

            selectHttpRequest(data){
                if (this.$store.state.user.streamerId){
                    return this.$http.post("/jwt/streamer_profil", data,
                            {headers: {'Authorization': this.$session.get("authorization")}}
                    )
                } else {
                    return this.$http.put("/jwt/streamer_profil", data,
                        {headers: {'Authorization': this.$session.get("authorization")}}
                    )
                }
            },

            updateStreamerProfil(){
                this.$validator.validateAll().then((result) => {
                    // test validation before submit
                    if (result && this.picture !== null) {
                        // create post_data query depending on what has changed (lazy update)
                        let post_data = {};
                        ["picture", "bio", "iban", "bic", "iban", "bic", "doPrivate", "telephone", "price"].forEach(e => {
                            if (this.streamer[e] !== this.$store.state.streamer[e]){
                                post_data[e] = this.streamer[e];
                            }
                        });

                        // different computing for arrays
                        ["dispos", "genres"].forEach(e => {
                            if ( this.streamer[e].length !== this.$store.state.streamer[e].length ||
                                 !this.streamer[e].every((v) => {return this.$store.state.streamer[e].indexOf(v) >= 0 }) ){
                                post_data[e] = this.streamer[e];
                            }
                        });

                        // if nothing has changed we display information and exit method
                        if (Object.keys(post_data).length === 0) {
                            this.$snack.show("Votre profil streamer est déjà à jour !");
                            return;
                        }

                        // trigger progression bar
                        this.$bus.$emit('sending');

                        // post data to update streamr profil
                        this.selectHttpRequest(post_data)
                        .then(
                            (response) => {
                                this.$bus.$emit('sendingEnd'); // trigger progression bar
                                // clear error message
                                this.error_message = "";
                                // display informations
                                this.$snack.show(this.$store.state.user.streamerId ? "Votre profil streamer a été mis à jour."
                                                                                   : "Vous êtes maintenant streamer AwA");
                                // commit changes on store
                                this.streamer.picture = response.data.picture;
                                this.$store.commit("streamer_profil_updated", response.data);
                            },

                            (error) => {
                                this.$bus.$emit("sendingEnd");
                                this.error_message = error.response.data;
                                this.scrollTop();
                            }
                        );
                    } else {
                        this.$snack.show("Formulaire invalide");
                        this.scrollTop();
                    }
                });
            },

            deleteDispo(index){
                this.$delete(this.streamer.dispos, index);
            },

            deleteGenre(index){
                this.$delete(this.streamer.genres, index);
            },

            handleEditorImgAdded(file, Editor, cursorLocation) {
                let url = window.URL || window.webkitURL;
                let reader  = new FileReader();
                reader.onload = (e) => {
                    let data = e.target.result;
                    let size = data + 18; //18 character for the img tag,
                    if (size + this.bio_size > 15000000){
                        this.$snack.show("L'image sélectionnée vous fait dépasser le quota d'espace disque autorisé " +
                            "pour votre bio");
                    } else {
                        if (file.type === "image/gif"){
                            Editor.insertEmbed(cursorLocation, 'image', data);
                        } else {
                            this.$refs.cropper.openFromEditor(data, Editor, cursorLocation);
                        }
                    }
                };

                let img  = new Image();
                img.onload = () => {
                    reader.readAsDataURL(file);
                };
                img.onerror = () => {
                    this.$snack.show("Le fichier image que vous avez sélectionné semble être corrompu...");
                };

                img.src = url.createObjectURL(file);
            },

            changeImage(data){
                this.streamer.picture = data;
            },

        },
        computed:{
            sanitized_html(){
                if (this.streamer.bio) {
                    this.bio_size = this.streamer.bio.length;
                    if (this.bio_size > 20000000) {
                        this.$snack.show("Le contenu de votre description est trop long !");
                    }
                    return this.streamer.bio
                }
            },

            price_rule(){
                return this.streamer.doPrivate ? {required: true, price: true} : ''
            },

            dispos_rule(){
                return this.streamer.doPrivate ? {required: true, list_size: 2}: ''
            }
            // picture: {
            //     get: function () {return this.streamer.picture || this.$store.state.streamer.picture},
            //     set: function (newValue) {this.streamer.picture = newValue}
            // },
            //
            // bio: {
            //     get: function () {return this.streamer.bio || this.$store.state.streamer.bio},
            //     set: function (newValue) {this.streamer.bio = newValue}
            // },
            //
            // doPrivate: {
            //     get: function () {
            //         return this.streamer.doPrivate !== undefined ? this.streamer.doPrivate
            //                                                       : this.$store.state.streamer.doPrivate;
            //     },
            //     set: function (newValue) {this.streamer.doPrivate = newValue}
            // },
            //
            // dispos: {
            //     get: function () {
            //         return this.dispos_cloned ? this.streamer.dispos:this.$store.state.streamer.dispos
            //         // return this.streamer.dispos || this.$store.state.streamer.dispos;
            //     },
            //     // for arrays we have to define a watcher to react to changes cause setter isn't call, instead
            //     // the data is directly mutate using Array.push under the hood
            // },
            //
            // genres: {
            //     get: function () {
            //         return this.genres_cloned ? this.streamer.genres: this.$store.state.streamer.genres
            //     },
            //     // for arrays we have to define a watcher to react to changes cause setter isn't call, instead
            //     // the data is directly mutate using Array.push under the hood
            // },
            //
            // iban: {
            //     get: function () {return this.streamer.iban || this.$store.state.streamer.iban},
            //     set: function (newValue) {this.streamer.iban = newValue}
            // },
            //
            // bic: {
            //     get: function () {return this.streamer.bic || this.$store.state.streamer.bic},
            //     set: function (newValue) {this.streamer.bic = newValue}
            // },
            //
            // telephone: {
            //     get: function () {return this.streamer.telephone || this.$store.state.streamer.telephone},
            //     set: function (newValue) {this.streamer.telephone = newValue}
            // },
            //
            // price: {
            //     get: function () {return this.streamer.price || this.$store.state.streamer.price},
            //     set: function (newValue) {this.streamer.price = newValue}
            // },
            
        },

        watch: {
            // 'genres': function(newGenres) {
            //     if (!this.genres_cloned){
            //         this.streamer.genres = _.clone(newGenres); // we need to clone to don't pass reference to store value
            //         this.genres_cloned = true;
            //     }
            // },
            //
            // 'dispos': function(newDispos){
            //     if (!this.dispos_cloned){
            //         this.streamer.dispos = _.clone(newDispos); // we need to clone to don't pass reference to store value
            //         this.dispos_cloned = true;
            //     }
            // },
            //
            // 'streamer.doPrivate': function(value){
            //     this.dispos_rule = value ? {required: true, list_size: 2}: '';
            //     this.price_rule = value ? {required: true, price: true}:'';
            // },
            //
            // 'doPrivate': function(value){
            //     this.dispos_rule = value ? {required: true, list_size: 2}: '';
            //     this.price_rule = value ? {required: true, price: true}:'';
            // }

        }
    }
</script>

<style scoped>
    .quillWrapper,
    .md-subheader{
        width: 100%;
    }

    svg{
        margin-right: 5px;
        color: rgba(0, 0, 0, 0.74);
    }

    .preview{
        background-color: #e91e63;
        color:white;
        font-weight: bold
    }

    .md-error{
        font-size: 12px;
        color: rgb(230, 74, 25);
    }

</style>