<template>
    <md-menu md-align-trigger :md-offset-x="-135" md-size="4">
        <!-- If no image yet for user profile we display first letter of first name in avatar (google like)-->
        <md-button md-menu-trigger v-if="$store.state.user.picture == null">
            <md-avatar class="md-avatar-icon md-small">
                {{ $store.state.user.username.substring(0, 1).toUpperCase() }}
            </md-avatar>
            <md-icon>keyboard_arrow_down</md-icon>
        </md-button>

        <!-- else we display user avatar-->
        <md-button md-menu-trigger v-else >
            <md-avatar class="md-small">
                <img :src="$store.state.user.picture" alt="Avatar">
            </md-avatar>
            <md-icon style="color:white;">keyboard_arrow_down</md-icon>
        </md-button>

        <md-menu-content id="UserMenu">
            <md-menu-item disabled>
                {{ $store.state.user.username }}
            </md-menu-item>

            <md-divider />

            <md-menu-item href="/#/account">
                <md-icon>perm_identity</md-icon>
                Mon compte
            </md-menu-item>

            <md-menu-item href="/#/startLive" v-if="$store.state.user.streamerId != null">
                <md-icon>mic_none</md-icon>
                Démarrer un live
            </md-menu-item>

            <md-menu-item @click="clearSession()">
                <md-icon>exit_to_app</md-icon>
                Se déconnecter
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</template>

<script>
    export default {
        methods: {
            clearSession(){
                this.$http.get("/jwt/logout",{headers: {'Authorization': this.$session.get("authorization")},}).then(
                    () => {
                        this.$session.destroy();
                        window.location.replace("/");
                    }
                );
            }
        },
    }
</script>

<style scoped>
    .md-menu-item a{
        padding-right: 20px;
    }
</style>