<template>
    <div>
        <StreamerCGU />

        <md-layout>
            <md-checkbox name="cgu" v-model="cgu" >
                J'ai lu et j'accepte les conditions générales d'utilisation
            </md-checkbox>
        </md-layout>

        <md-layout mdAlign="end">
            <md-button class="md-raised md-primary" @click="becameStreamer">Suivant</md-button>
        </md-layout>

    </div>
</template>

<script>
    import StreamerCGU from './StreamerCGU.vue'

    export default {
        components: {
            StreamerCGU
        },
        data(){
            return {
                cgu: false,
            }
        },
        methods:{
            becameStreamer(){
                if (this.cgu){
                    this.$emit('cgu_accepted');
                } else {
                    this.$store.showSnack("Vous devez accepter les CGU pour devenir streamer")
                }
            }
        }
    }
</script>
