<template>
    <div id="userAccountPage">
        <md-layout class="header">
            <h2 style="margin-left: 10px;">Mon compte</h2>
            <md-subheader>@{{$store.state.user.username}}</md-subheader>
        </md-layout>

        <md-tabs md-sync-route :mdNavigation="false" class="md-transparent" @change="onTabsChange">
            <md-tab  md-label="Profil" >
                <TabProfil/>
            </md-tab>

            <md-tab :md-label="$store.state.user.streamerId ?'Compte Streamer':'Devenir streamer'" >
                <TabBecameStreamerCGU @cgu_accepted="cgu_accepted=true" v-show="!(cgu_accepted || $store.state.user.streamerId)"/>
                <TabBecameStreamerForm v-show="cgu_accepted || $store.state.user.streamerId" :streamer="streamer" />
            </md-tab>

            <md-tab md-label="Abonnement" >
                <TabSubscription />
            </md-tab>

        </md-tabs>
    </div>
</template>

<script>
    import TabProfil from "./UserAccountTabProfil.vue"
    import TabSubscription from "./UserAccountTabSubscription.vue"
    import TabBecameStreamerCGU from "./UserAccountTabBecameStreamerCGU.vue"
    import TabBecameStreamerForm from "./UserAccountTabBecameStreamerForm.vue"

    export default {
        components: {
            TabProfil,
            TabSubscription,
            TabBecameStreamerCGU,
            TabBecameStreamerForm,
        },

        data() {
            return {
                streamer: {
                    dispos: [],
                    genres: [],
                    picture: null,
                    bio: undefined,
                    iban: undefined,
                    bic: undefined,
                    doPrivate: false,
                    telephone: undefined,
                    price: undefined
                },
                cgu_accepted: false,
            }
        },
        
        methods: {

            onTabsChange(index){
                if (index === 1 && this.$store.state.user.streamerId && !this.$store.state.streamer_profil_fetched){
                    this.getStreamerProfil();
                }
            },

            getStreamerProfil(){
                this.$http.get("/jwt/streamer_profil", {
                    headers: {'Authorization': this.$session.get("authorization")},
                }).then(
                    (response) => {
                        this.streamer = response.data;
                        this.$store.commit("streamer_profil_received", response.data)
                    }
                )
            }
        },

        beforeRouteEnter(to, from, next) {
            // Pass a callback to next (optional)
            next(vm => {
                // this callback has access to component instance (ie: 'this') via `vm`
                if (!vm.$session.get("authorization")) {
                    next('/login/account/0')
                }
            })
        },
    }
</script>

<style scoped>
    @media screen and (max-width: 640px) {
        #userAccountPage .md-tabs{
            padding: 0px;
        }
    }

    .md-tabs-wrapper .md-tab{
        height: calc(100vh - 172px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .md-tabs{
        padding: 0 5px;
    }


    #userAccountPage .md-checkbox{
        margin: 16px 8px 5px 18px;
    }

    #userAccountPage .header,
    #userAccountPage .header .md-subheader{
        min-height: 40px;
        height: 40px;
    }

    #userAccountPage .header .md-subheader{
        line-height: 53px;
        align-items: unset;
    }

    #userAccountPage h4{
        padding-top: 8px;
    }

    #userAccountPage hr{
        background-color: #0d47a1;
    }


</style>