<template>
    <div id="userAccountTabStreamer">
        <md-layout class="info-layout">
            <md-layout :mdColumn="true" id="error_msg_anchor">
                <md-layout md-tag="h3" >
                    Gérer votre abonnement
                </md-layout>
                <md-layout md-tag="p">
                    Annuler ou rénouveler votre abonnement.
                </md-layout>
            </md-layout>
        </md-layout>
    </div>
</template>

<script>
    export default {}
</script>