body{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.md-button.md-mini {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
}

.md-button.md-mini i {
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    font-size: 16px;
}

.md-button, button.md-tab-header {
    text-transform: none !important;
}

.vertical-divider {
    color:#0D47A1;
    border-top-width: 0;
    border-right-width: 2px;
    border-right-style: solid;
    /*height: 100%;*/
}

.has-ripple {
    position: relative;
    padding: 10px;
    margin: 0;
}

.alert {
    padding: 5px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning, .alert-warning span{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-info, .alert-info span{
    text-align: justify;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success, .alert-success span {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.info-layout{
    background: #d2d1d4;
    border-bottom: 1px solid #0d47a1;
    padding: 10px;
}

.info-layout h3, p{
    margin: 5px 0;
}

/********************************************************************/
/*********************** Utility classes ****************************/
/********************************************************************/
.overflowHidden {
    overflow: hidden;
}

.flex{
    display: flex;
    display: -webkit-flex;
}

/********************************************************************/
/*************** Transitions, put other css above *******************/
/********************************************************************/

.fade-enter-active{
    transition: opacity 0.3s
}
.fade-leave-active{
    transition: 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sound{
    15% {
        transform: scale(1.4);
    }
    30% {
        transform: scale(0.8);
    }
    45% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(1.4);
    }
    90% {
        transform: scale(0.8);
    }
}

.minibounce-enter-active {
    animation: minibounce-in .5s;
}
.minibounce-leave-active {
    animation: minibounce-in .5s reverse;
}
@keyframes minibounce-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
/********************************************************************/
